<div class="medicine-list-container">
  <p-table #listTable [value]="viewList" [scrollable]="true" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 20, 50]" [loading]="isLoading"
           [globalFilterFields]="['code', 'name', 'medicineIngredientModel.mainIngredientName']" (sortFunction)="customSort($event, isSorted, listTable, initValue, viewList)" [customSort]="true"
           [tableStyle]="{'min-width': '25rem'}" styleClass="p-datatable-gridlines p-datatable-sm p-datatable-striped">
    <ng-template #caption>
      <div class="flex">
        <p-button class="m-1" (onClick)="refreshData()" icon="pi pi-refresh" [disabled]="!haveRole"/>
        <p-button class="m-1" (onClick)="uploadExcel()" icon="pi pi-file-excel" [disabled]="!haveRole"/>
        <p-button class="m-1" (onClick)="insertData()" icon="pi pi-plus" [disabled]="!haveRole"/>
        <p-button class="m-1" (onClick)="sampleDown()" icon="pi pi-download" pTooltip="{{'common-desc.sample-download' | translate}}" />
        <input #inputUploadExcel class="collapse" type="file" accept=".xlsx" (change)="excelSelected($event)">
        <p-iconfield iconPosition="left" class="ml-auto justify-content-end">
          <p-inputicon>
            <i class="pi pi-search"></i>
          </p-inputicon>
          <input pInputText type="text" (input)="filterTable(listTable, $event, 'contains')" placeholder="Search keyword" />
        </p-iconfield>
      </div>
    </ng-template>
    <ng-template #header>
      <tr>
        <th pSortableColumn="code">{{"medicine-list.code" | translate}} <p-sortIcon field="code" /></th>
        <th pSortableColumn="name">{{"medicine-list.name" | translate}} <p-sortIcon field="name" /></th>
        <th>{{"medicine-list.main-ingredient-name" | translate}}</th>
        <th>{{"medicine-list.custom-price" | translate}}</th>
        <th>{{"medicine-list.max-price" | translate}}</th>
        <th>{{"medicine-list.etc1" | translate}}</th>
        <th>{{"medicine-list.etc2" | translate}}</th>
        <th>{{"common-desc.edit" | translate}}</th>
      </tr>
    </ng-template>
    <ng-template #body let-medicine>
      <tr>
        <td>{{medicine.code}}</td>
        <td>{{medicine.name}}</td>
        <td>{{medicine.medicineIngredientModel.mainIngredientName}}</td>
        <td>{{medicine.customPrice}}</td>
        <td>{{medicine.maxPrice}}</td>
        <td>{{ellipsis(medicine.medicineSubModel.etc1)}}</td>
        <td>{{ellipsis(medicine.medicineSubModel.etc2)}}</td>
        <td>
          <p-button class="p-button-sm" (onClick)="medicineEdit(medicine)" [disabled]="!haveRole">{{"common-desc.edit" | translate}}</p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
