<div>
  <div class="m-1">
    <span>
      <label>{{pharma?.orgName ?? "신규처"}}</label>
    </span>
  </div>
  <div class="m-1">
    <span>
      <p-select [options]="ediStateList" [(ngModel)]="selectEDIState" (click)="$event.stopPropagation()" appendTo="body">
        <ng-template #selectedItem let-item>
          <div>{{StringToEDIStateDesc[item]}}</div>
        </ng-template>
        <ng-template #item let-item>
          <div>{{StringToEDIStateDesc[item]}}</div>
        </ng-template>
      </p-select>
    </span>
  </div>
  <div class="m-1">
    <span>
    <textarea rows="5" cols="30" pTextarea [autoResize]="true" [(ngModel)]="etc"></textarea>
  </span>
  </div>
  <div>
  <span>
    <p-button [disabled]="!postAble" (click)="postData()">{{"common-desc.save" | translate}}</p-button>
  </span>
  </div>
</div>
