<p-drawer class="image-modify-view-container" [fullScreen]="true" [(visible)]="isVisible" (onHide)="onHide()" [closeOnEscape]="true" [closable]="false">
  <app-progress-spin [isLoading]="isLoading" />
  <p-context-menu [target]="contentContainer" [model]="contextMenu">
    <ng-template pTemplate="item" let-item>
      <a pRipple class="flex align-items-center p-contextmenu-item-link">
        <span [class]="item.icon"></span>
        <span class="ml-2">{{item.label | translate}}</span>
      </a>
    </ng-template>
  </p-context-menu>
  <div class="m-1" *ngIf="!isLoading">
    <p-button class="m-1" size="small" icon="pi pi-angle-left" (click)="prev()" [rounded]="true" [disabled]="!prevAble" />
    <p-button class="m-1" size="small" icon="pi pi-angle-right" (click)="next()" [rounded]="true" [disabled]="!nextAble" />
    <label>esc on close</label>
  </div>
  <div class="option-container">
    <div class="option-sub-container">
      <div class="flex">
        <p-ifta-label class="m-1">
          <input id="imageWidth" [(ngModel)]="imageVectorBuff.width" type="number" pInputText (keydown)="resizeKeydown($event)">
          <label for="imageWidth">width</label>
        </p-ifta-label>
        <p-ifta-label class="m-1">
          <input id="imageHeight" [(ngModel)]="imageVectorBuff.height" type="number" pInputText (keydown)="resizeKeydown($event)">
          <label for="imageHeight">height</label>
        </p-ifta-label>
        <p-ifta-label class="m-1">
          <input id="fontSize" [(ngModel)]="fontSize" type="number" pInputText (input)="optionInput()"/>
          <label for="fontSize">{{"common-desc.font-size" | translate}}</label>
        </p-ifta-label>
        <p-color-picker class="m-1 align-content-center" [(ngModel)]="backColor" pTooltip="{{backColorTooltip | translate}}" (onChange)="optionInput()"/>
        <p-color-picker class="m-1 align-content-center" [(ngModel)]="textColor" pTooltip="{{textColorTooltip | translate}}" (onChange)="optionInput()"/>
        <p-select class="m-1 align-content-center align-self-center h-min w-7rem" size="small" [options]="[0, 90, 180, 270]" [(ngModel)]="imageAngle" (onChange)="onAngleChange()" />
        <p-button class="m-1 align-content-center" size="small" icon="pi pi-refresh" rounded="true" (click)="angleChange()" />
      </div>
      <div class="flex">
        <p-ifta-label class="m-1">
          <input id="imageCropLeft" [(ngModel)]="imageCropVectorBuff.left" type="number" pInputText (keydown)="cropKeydown($event)">
          <label for="imageCropLeft">left</label>
        </p-ifta-label>
        <p-ifta-label class="m-1">
          <input id="imageCropTop" [(ngModel)]="imageCropVectorBuff.top" type="number" pInputText (keydown)="cropKeydown($event)">
          <label for="imageCropTop">top</label>
        </p-ifta-label>
        <p-ifta-label class="m-1">
          <input id="imageCropRight" [(ngModel)]="imageCropRightBuff" type="number" pInputText (keydown)="cropKeydown($event)">
          <label for="imageCropRight">right</label>
        </p-ifta-label>
        <p-ifta-label class="m-1">
          <input id="imageCropBottom" [(ngModel)]="imageCropBottomBuff" type="number" pInputText (keydown)="cropKeydown($event)">
          <label for="imageCropBottom">bottom</label>
        </p-ifta-label>
      </div>
      <div class="flex">
        <p-ifta-label class="m-1">
          <input id="brushSize" [(ngModel)]="brushSize" type="number" pInputText>
          <label for="brushSize">brush size</label>
        </p-ifta-label>
        <p-ifta-label class="m-1">
          <input id="brushAlpha" [(ngModel)]="brushAlpha" type="number" pInputText>
          <label for="brushAlpha">brush alpha</label>
        </p-ifta-label>
        <p-color-picker class="m-1 align-content-center" [(ngModel)]="brushColor" pTooltip="{{brushColorTooltip | translate}}" />
        <p-button class="align-content-center mr-1" size="small" (click)="clearBrushCanvas()" icon="pi pi-eraser" pTooltip="{{brushClearTooltip | translate}}" />
        <p-select class="flex h-fit align-self-center" [options]="imageDragList" [(ngModel)]="imageDragMode" />
      </div>
    </div>
    <div>
      <div class="flex flex-row">
        <p-ifta-label class="m-1">
          <input id="imageRotateX" [(ngModel)]="rotateVector.x" type="number" pInputText (keydown)="rotateKeydown($event)">
          <label for="imageRotateX">tiltX</label>
        </p-ifta-label>
        <div class="m-1 flex flex-column align-content-center">
          <p-button class="align-content-center" size="small" (mousedown)="rotateXChange(true)" (mouseup)="rotateXStop()" (mouseleave)="rotateXStop()" icon="pi pi-refresh" />
          <p-button class="align-content-center" size="small" (mousedown)="rotateXChange(false)" (mouseup)="rotateXStop()" (mouseleave)="rotateXStop()" icon="pi pi-replay" />
        </div>
      </div>
      <div class="flex flex-row">
        <p-ifta-label class="m-1">
          <input id="imageRotateY" [(ngModel)]="rotateVector.y" type="number" pInputText (keydown)="rotateKeydown($event)">
          <label for="imageRotateY">tiltY</label>
        </p-ifta-label>
        <div class="m-1 flex flex-column align-content-center">
          <p-button class="align-content-center" size="small" (mousedown)="rotateYChange(true)" (mouseup)="rotateYStop()" (mouseleave)="rotateYStop()" icon="pi pi-refresh" />
          <p-button class="align-content-center" size="small" (mousedown)="rotateYChange(false)" (mouseup)="rotateYStop()" (mouseleave)="rotateYStop()" icon="pi pi-replay" />
        </div>
      </div>
    </div>
    <textarea class="text-base" pTextarea type="text" [(ngModel)]="fileName"
              (input)="optionInput()" (compositionstart)="fileNameCompStart()" (compositionupdate)="fileNameCompUpdate($event)" (compositionend)="fileNameCompEnd()"></textarea>
  </div>
  <div class="image-modify-view-sub-container">
    <div #contentContainer class="content-container" [ngClass]="brushClassActive">
      <canvas #imageCanvas class="image-canvas"></canvas>
      <canvas #cropCanvas class="crop-canvas"></canvas>
      <canvas #brushCanvas class="brush-canvas"></canvas>
      <canvas #watermarkCanvas class="text-canvas" (mousedown)="canvasDragStart($event)" (mousemove)="canvasDrag($event)"
              (mouseup)="canvasDragEnd()" (mouseleave)="canvasDragEnd()"></canvas>
    </div>
  </div>
</p-drawer>
