<div class="flex flex-column flex-wrap pharma-edit-container">
  <app-progress-spin [isLoading]="isLoading" />
  <div class="m-1">
    <p-button class="m-1" (onClick)="saveData()" [disabled]="!haveRole">{{"common-desc.save" | translate}}</p-button>
  </div>
  <p-card class="flex grid m-1" *ngIf="pharmaModel">
    <div class="field col grid">
      <label class="col-2 align-self-center">{{"pharma-edit.code" | translate}}</label>
      <label class="col-4">{{pharmaModel.code}}</label>
      <label class="col-2 align-self-center">{{"pharma-edit.org-name" | translate}}</label>
      <div class="col-4">
        <input class="text-base" pInputText type="text" maxlength="200" [(ngModel)]="pharmaModel.orgName" />
      </div>
      <label class="col-2 align-self-center">{{"pharma-edit.inner-name" | translate}}</label>
      <div class="col-4">
        <input class="text-base" pInputText type="text" maxlength="200" [(ngModel)]="pharmaModel.innerName" />
      </div>
      <label class="col-2 align-self-center">{{"pharma-edit.owner-name" | translate}}</label>
      <div class="col-4">
        <input class="text-base" pInputText type="text" maxlength="200" [(ngModel)]="pharmaModel.ownerName" />
      </div>
      <label class="col-2 align-self-center">{{"pharma-edit.phone-number" | translate}}</label>
      <div class="col-4">
        <input class="text-base" pInputText type="text" maxlength="200" [(ngModel)]="pharmaModel.phoneNumber" />
      </div>
      <label class="col-2 align-self-center">{{"pharma-edit.fax-number" | translate}}</label>
      <div class="col-4">
        <input class="text-base" pInputText type="text" maxlength="200" [(ngModel)]="pharmaModel.faxNumber" />
      </div>
      <label class="col-2 align-self-center">{{"pharma-edit.zip-code" | translate}}</label>
      <div class="col-4">
        <input class="text-base" pInputText type="text" maxlength="200" [(ngModel)]="pharmaModel.zipCode" />
      </div>
      <label class="col-2 align-self-center">{{"pharma-edit.address" | translate}}</label>
      <div class="col-4">
        <input class="text-base" pInputText type="text" maxlength="200" [(ngModel)]="pharmaModel.address" />
      </div>
      <label class="col-2 align-self-center">{{"pharma-edit.address-detail" | translate}}</label>
      <div class="col-4">
        <input class="text-base" pInputText type="text" maxlength="200" [(ngModel)]="pharmaModel.addressDetail" />
      </div>
      <label class="col-2 align-self-center">{{"common-desc.in-visible" | translate}}</label>
      <div class="col-4">
        <p-select [options]="[true, false]" [(ngModel)]="pharmaModel.inVisible" />
      </div>
    </div>
  </p-card>
  <p-card class="flex grid m-1" *ngIf="pharmaModel">
    <div class="field col grid">
      <label class="col-1 align-self-center">{{"pharma-edit.business-type" | translate}}</label>
      <div class="col-3">
        <input class="text-base" pInputText type="text" maxlength="200" [(ngModel)]="pharmaModel.businessType" />
      </div>
      <label class="col-1 align-self-center">{{"pharma-edit.business-item" | translate}}</label>
      <div class="col-3">
        <input class="text-base" pInputText type="text" maxlength="200" [(ngModel)]="pharmaModel.businessItem" />
      </div>
      <label class="col-1 align-self-center">{{"pharma-edit.bill-type" | translate}}</label>
      <div class="col-3">
        <p-select [options]="billTypeList" [(ngModel)]="selectBillType" />
      </div>
      <label class="col-1 align-self-center">{{"pharma-edit.contract-type" | translate}}</label>
      <div class="col-3">
        <p-select [options]="contractTypeList" [(ngModel)]="selectContractType" />
      </div>
      <label class="col-1 align-self-center">{{"pharma-edit.pharma-type" | translate}}</label>
      <div class="col-3">
        <p-select [options]="pharmaTypeList" [(ngModel)]="selectPharmaType" />
      </div>
      <label class="col-1 align-self-center">{{"pharma-edit.pharma-group" | translate}}</label>
      <div class="col-3">
        <p-select [options]="pharmaGroupList" [(ngModel)]="selectPharmaGroup" />
      </div>
      <label class="col-1 align-self-center">{{"pharma-edit.delivery-div" | translate}}</label>
      <div class="col-3">
        <p-select [options]="deliveryDivList" [(ngModel)]="selectDeliveryDiv" />
      </div>
      <label class="col-1 align-self-center">{{"pharma-edit.mail" | translate}}</label>
      <div class="col-3">
        <input class="text-base" pInputText type="text" maxlength="200" [(ngModel)]="pharmaModel.mail" />
      </div>
      <label class="col-1 align-self-center">{{"pharma-edit.mobile-phone" | translate}}</label>
      <div class="col-3">
        <input class="text-base" pInputText type="text" maxlength="200" [(ngModel)]="pharmaModel.mobilePhone" />
      </div>
      <label class="col-1 align-self-center">{{"pharma-edit.open-date" | translate}}</label>
      <div class="col-3">
        <p-date-picker [(ngModel)]="pharmaModel.openDate" dateFormat="yy-mm-dd" />
      </div>
      <label class="col-1 align-self-center">{{"pharma-edit.close-date" | translate}}</label>
      <div class="col-3">
        <p-date-picker [(ngModel)]="pharmaModel.closeDate" dateFormat="yy-mm-dd" />
      </div>
      <label class="col-1 align-self-center">{{"pharma-edit.retroactive-rule" | translate}}</label>
      <div class="col-3">
        <input class="text-base" pInputText type="text" maxlength="500" [(ngModel)]="pharmaModel.retroactiveRule" />
      </div>
      <label class="col-1 align-self-center">{{"pharma-edit.inner-settlement-rule" | translate}}</label>
      <div class="col-3">
        <input class="text-base" pInputText type="text" maxlength="500" [(ngModel)]="pharmaModel.innerSettlementRule" />
      </div>
      <label class="col-1 align-self-center">{{"pharma-edit.outer-settlement-rule" | translate}}</label>
      <div class="col-3">
        <input class="text-base" pInputText type="text" maxlength="500" [(ngModel)]="pharmaModel.outerSettlementRule" />
      </div>
      <label class="col-1 align-self-center">{{"pharma-edit.etc1" | translate}}</label>
      <div class="col-3">
        <input class="text-base" pInputText type="text" maxlength="500" [(ngModel)]="pharmaModel.etc1" />
      </div>
      <label class="col-1 align-self-center">{{"pharma-edit.etc2" | translate}}</label>
      <div class="col-3">
        <input class="text-base" pInputText type="text" maxlength="500" [(ngModel)]="pharmaModel.etc2" />
      </div>
    </div>
    <div class="field col grid">
      <label class="col-1 align-self-center">{{"pharma-edit.taxpayer-number" | translate}}</label>
      <div class="col-3 align-self-center">
        <input class="text-base" pInputText type="text" maxlength="200" [(ngModel)]="pharmaModel.taxpayerNumber" />
      </div>
      <label class="col-1 align-self-center">{{"pharma-edit.image-url" | translate}}</label>
      <div class="col-3">
        <p-image width="100" height="100" [src]="imageUrl" [alt]="pharmaModel.taxpayerNumber" (click)="imageView()" />
      </div>
      <input #imageInput class="collapse" type="file" accept=".jpg,.jpeg,.png,.webp,.bmp" (change)="imageSelected($event)">
    </div>
  </p-card>
  <p-card class="flex grid m-1" header="{{cardHeader | translate}}" *ngIf="pharmaModel">
    <div class="flex align-self-center">
      <p-checkbox class="flex h-fit align-self-center mr-1" [(ngModel)]="isMedicineSearchTypeCode" [binary]="true" />
      <p-iconfield class="flex h-fit" iconPosition="left">
        <p-inputicon [styleClass]="medicineSearchStyle" />
        <input pInputText type="text" [(ngModel)]="medicineSearchValue" placeholder="{{medicineSearchPlaceHolder | translate}}" (keydown)="medicineSearchChange($event)" />
      </p-iconfield>
    </div>
    <app-custom-pick-list class="flex col-12" [sourceList]="medicineList" [targetList]="pharmaModel.medicineList"
                          [filterFields]="filterFields"
                          sourceFilterPlaceHolder="{{filterPlaceHolder | translate}}"
                          targetFilterPlaceHolder="{{filterPlaceHolder | translate}}">
      <ng-template #sourceItem let-medicine>
        <div>{{medicine.code}}</div>
        <div>{{ellipsis(medicine.innerName)}}</div>
      </ng-template>
      <ng-template #targetItem let-medicine>
        <div>{{medicine.code}}</div>
        <div>{{ellipsis(medicine.innerName)}}</div>
      </ng-template>
    </app-custom-pick-list>
  </p-card>
</div>
