<div class="flex flex-column flex-wrap pharma-add-dialog-container">
  <app-progress-spin [isLoading]="isLoading" />
  <div class="m-1">
    <p-button class="m-1" (onClick)="saveData()" [disabled]="!haveRole">{{"common-desc.save" | translate}}</p-button>
    <p-button class="m-1" (onClick)="closeThis()">{{"common-desc.close" | translate}}</p-button>
  </div>
  <p-card class="flex grid m-1" *ngIf="pharmaModel">
    <div class="field col grid">
      <label class="col-2 align-self-center">{{"pharma-add-dialog.code" | translate}}</label>
      <div class="col-4">
        <input class="text-base" pInputText type="number" maxlength="200" [(ngModel)]="pharmaModel.code" />
      </div>
      <label class="col-2 align-self-center">{{"pharma-add-dialog.org-name" | translate}}</label>
      <div class="col-4">
        <input class="text-base" pInputText type="text" maxlength="200" [(ngModel)]="pharmaModel.orgName" />
      </div>
      <label class="col-2 align-self-center">{{"pharma-add-dialog.inner-name" | translate}}</label>
      <div class="col-4">
        <input class="text-base" pInputText type="text" maxlength="200" [(ngModel)]="pharmaModel.innerName" />
      </div>
      <label class="col-2 align-self-center">{{"pharma-add-dialog.owner-name" | translate}}</label>
      <div class="col-4">
        <input class="text-base" pInputText type="text" maxlength="200" [(ngModel)]="pharmaModel.ownerName" />
      </div>
      <label class="col-2 align-self-center">{{"pharma-add-dialog.phone-number" | translate}}</label>
      <div class="col-4">
        <input class="text-base" pInputText type="text" maxlength="200" [(ngModel)]="pharmaModel.phoneNumber" />
      </div>
      <label class="col-2 align-self-center">{{"pharma-add-dialog.fax-number" | translate}}</label>
      <div class="col-4">
        <input class="text-base" pInputText type="text" maxlength="200" [(ngModel)]="pharmaModel.faxNumber" />
      </div>
      <label class="col-2 align-self-center">{{"pharma-add-dialog.zip-code" | translate}}</label>
      <div class="col-4">
        <input class="text-base" pInputText type="text" maxlength="200" [(ngModel)]="pharmaModel.zipCode" />
      </div>
      <label class="col-2 align-self-center">{{"pharma-add-dialog.address" | translate}}</label>
      <div class="col-4">
        <input class="text-base" pInputText type="text" maxlength="200" [(ngModel)]="pharmaModel.address" />
      </div>
      <label class="col-2 align-self-center">{{"pharma-add-dialog.address-detail" | translate}}</label>
      <div class="col-4">
        <input class="text-base" pInputText type="text" maxlength="200" [(ngModel)]="pharmaModel.addressDetail" />
      </div>
    </div>
  </p-card>
  <p-card class="flex grid m-1" *ngIf="pharmaModel">
    <div class="field col grid">
      <label class="col-2 align-self-center">{{"pharma-add-dialog.business-type" | translate}}</label>
      <div class="col-4">
        <input class="text-base" pInputText type="text" maxlength="200" [(ngModel)]="pharmaModel.businessType" />
      </div>
      <label class="col-2 align-self-center">{{"pharma-add-dialog.business-item" | translate}}</label>
      <div class="col-4">
        <input class="text-base" pInputText type="text" maxlength="200" [(ngModel)]="pharmaModel.businessItem" />
      </div>
      <label class="col-2 align-self-center">{{"pharma-add-dialog.bill-type" | translate}}</label>
      <div class="col-4">
        <p-select [options]="billTypeList" [(ngModel)]="selectBillType" />
      </div>
      <label class="col-2 align-self-center">{{"pharma-add-dialog.contract-type" | translate}}</label>
      <div class="col-4">
        <p-select [options]="contractTypeList" [(ngModel)]="selectContractType" />
      </div>
      <label class="col-2 align-self-center">{{"pharma-add-dialog.pharma-type" | translate}}</label>
      <div class="col-4">
        <p-select [options]="pharmaTypeList" [(ngModel)]="selectPharmaType" />
      </div>
      <label class="col-2 align-self-center">{{"pharma-add-dialog.pharma-group" | translate}}</label>
      <div class="col-4">
        <p-select [options]="pharmaGroupList" [(ngModel)]="selectPharmaGroup" />
      </div>
      <label class="col-2 align-self-center">{{"pharma-add-dialog.delivery-div" | translate}}</label>
      <div class="col-4">
        <p-select [options]="deliveryDivList" [(ngModel)]="selectDeliveryDiv" />
      </div>
      <label class="col-2 align-self-center">{{"pharma-add-dialog.mail" | translate}}</label>
      <div class="col-4">
        <input class="text-base" pInputText type="text" maxlength="200" [(ngModel)]="pharmaModel.mail" />
      </div>
      <label class="col-2 align-self-center">{{"pharma-add-dialog.mobile-phone" | translate}}</label>
      <div class="col-4">
        <input class="text-base" pInputText type="text" maxlength="200" [(ngModel)]="pharmaModel.mobilePhone" />
      </div>
      <label class="col-2 align-self-center">{{"pharma-add-dialog.open-date" | translate}}</label>
      <div class="col-4">
        <p-date-picker [(ngModel)]="pharmaModel.openDate" dateFormat="yy-mm-dd" appendTo="body" />
      </div>
      <label class="col-2 align-self-center">{{"pharma-add-dialog.close-date" | translate}}</label>
      <div class="col-4">
        <p-date-picker [(ngModel)]="pharmaModel.closeDate" dateFormat="yy-mm-dd" appendTo="body" />
      </div>
      <label class="col-2 align-self-center">{{"pharma-add-dialog.etc1" | translate}}</label>
      <div class="col-4">
        <input class="text-base" pInputText type="text" maxlength="500" [(ngModel)]="pharmaModel.etc1" />
      </div>
      <label class="col-2 align-self-center">{{"pharma-add-dialog.etc2" | translate}}</label>
      <div class="col-4">
        <input class="text-base" pInputText type="text" maxlength="500" [(ngModel)]="pharmaModel.etc2" />
      </div>
    </div>
    <div class="field col grid">
      <label class="col-2 align-self-center">{{"pharma-add-dialog.taxpayer-number" | translate}}</label>
      <div class="col-4 align-self-center">
        <input class="text-base" pInputText type="text" maxlength="200" [(ngModel)]="pharmaModel.taxpayerNumber" />
      </div>
    </div>
  </p-card>
</div>
