<div class="flex flex-column flex-wrap hospital-edit-dialog-container">
  <app-progress-spin [isLoading]="isLoading" />
  <div class="m-1">
    <p-button class="m-1" (onClick)="saveData()" [disabled]="!haveRole">{{"common-desc.save" | translate}}</p-button>
    <p-button class="m-1" (onClick)="closeThis()">{{"common-desc.close" | translate}}</p-button>
  </div>
  <p-card class="flex grid m-1" *ngIf="hospitalModel">
    <div class="field col grid">
      <label class="col-2 align-self-center">{{"hospital-edit.code" | translate}}</label>
      <label class="col-4">{{hospitalModel.code}}</label>
      <label class="col-2 align-self-center">{{"hospital-edit.org-name" | translate}}</label>
      <div class="col-4">
        <input class="text-base" pInputText type="text" maxlength="200" [(ngModel)]="hospitalModel.orgName" />
      </div>
      <label class="col-2 align-self-center">{{"hospital-edit.inner-name" | translate}}</label>
      <div class="col-4">
        <input class="text-base" pInputText type="text" maxlength="200" [(ngModel)]="hospitalModel.innerName" />
      </div>
      <label class="col-2 align-self-center">{{"hospital-edit.owner-name" | translate}}</label>
      <div class="col-4">
        <input class="text-base" pInputText type="text" maxlength="200" [(ngModel)]="hospitalModel.ownerName" />
      </div>
      <label class="col-2 align-self-center">{{"hospital-edit.phone-number" | translate}}</label>
      <div class="col-4">
        <input class="text-base" pInputText type="text" maxlength="200" [(ngModel)]="hospitalModel.phoneNumber" />
      </div>
      <label class="col-2 align-self-center">{{"hospital-edit.fax-number" | translate}}</label>
      <div class="col-4">
        <input class="text-base" pInputText type="text" maxlength="200" [(ngModel)]="hospitalModel.faxNumber" />
      </div>
      <label class="col-2 align-self-center">{{"hospital-edit.zip-code" | translate}}</label>
      <div class="col-4">
        <input class="text-base" pInputText type="text" maxlength="200" [(ngModel)]="hospitalModel.zipCode" />
      </div>
      <label class="col-2 align-self-center">{{"hospital-edit.address" | translate}}</label>
      <div class="col-4">
        <input class="text-base" pInputText type="text" maxlength="200" [(ngModel)]="hospitalModel.address" />
      </div>
    </div>
  </p-card>
  <p-card class="flex grid m-1" *ngIf="hospitalModel">
    <div class="field col grid">
      <label class="col-2 align-self-center">{{"common-desc.in-visible" | translate}}</label>
      <div class="col-4">
        <p-select [options]="[true, false]" [(ngModel)]="hospitalModel.inVisible" appendTo="body"/>
      </div>
      <label class="col-2 align-self-center">{{"hospital-edit.business-type" | translate}}</label>
      <div class="col-4">
        <input class="text-base" pInputText type="text" maxlength="200" [(ngModel)]="hospitalModel.businessType" />
      </div>
      <label class="col-2 align-self-center">{{"hospital-edit.business-item" | translate}}</label>
      <div class="col-4">
        <input class="text-base" pInputText type="text" maxlength="200" [(ngModel)]="hospitalModel.businessItem" />
      </div>
      <label class="col-2 align-self-center">{{"hospital-edit.nursing-home-number" | translate}}</label>
      <div class="col-4">
        <input class="text-base" pInputText type="text" maxlength="200" [(ngModel)]="hospitalModel.nursingHomeNumber" />
      </div>
      <label class="col-2 align-self-center">{{"hospital-edit.etc1" | translate}}</label>
      <div class="col-4">
        <input class="text-base" pInputText type="text" maxlength="500" [(ngModel)]="hospitalModel.etc1" />
      </div>
      <label class="col-2 align-self-center">{{"hospital-edit.etc2" | translate}}</label>
      <div class="col-4">
        <input class="text-base" pInputText type="text" maxlength="500" [(ngModel)]="hospitalModel.etc2" />
      </div>
    </div>
    <div class="field grid">
      <label class="col-2 align-self-center">{{"hospital-edit.taxpayer-number" | translate}}</label>
      <div class="col-4 align-self-center">
        <input class="text-base" pInputText type="text" maxlength="200" [(ngModel)]="hospitalModel.taxpayerNumber" />
      </div>
      <label class="col-2 align-self-center">{{"hospital-edit.image-url" | translate}}</label>
      <div class="col-4">
        <p-image width="100" height="100" [src]="imageUrl" [alt]="hospitalModel.taxpayerNumber" (click)="imageView()" />
      </div>
      <input #imageInput class="collapse" type="file" accept=".jpg,.jpeg,.png,.webp,.bmp" (change)="imageSelected($event)">
    </div>
  </p-card>
</div>
