.main-ingredient-method-container {
  width: 700px;
  height: auto;
  margin: 30px 10px;
}
.mb10 {
  margin-bottom: 10px;
}
.x14 {
  font-size: 14px;
}
.pb5 {
  padding-bottom: 5px;
}
.wrap-board {
  width: 100%;
  height: 100%;
  border-top: 1px solid #5479f1;
  border-bottom: 1px solid #5479f1;
}
.wrap-board table {
  width: 700px;
}
.wrap-board table th {
  height: 33px;
  background-color: #e1e1fa;
  font-size: 12px;
  text-align: center;
  padding: 5px;
  border-bottom: 1px dashed #ccc;
  border-right: 1px solid #d7d7d7;
}
.wrap-board table td {
  height: 25px;
  font-size: 12px;
  text-align: center;
  padding: 5px;
  border-bottom: 1px dashed #d7d7d7;
  border-right: 1px solid #d7d7d7;
}
.ti16 {
  text-indent: 16px;
}
