<div class="flex flex-column flex-wrap medicine-edit-container">
  <app-progress-spin [isLoading]="isLoading" />
  <div class="m-1">
    <p-button class="m-1" (onClick)="saveData()" [disabled]="!haveRole">{{"common-desc.save" | translate}}</p-button>
  </div>
  <p-card class="flex grid m-1" *ngIf="medicineModel">
    <div class="field col grid">
      <label class="col-2 align-self-center">{{"medicine-edit.code" | translate}}</label>
      <label class="col-4">{{medicineModel.code}}</label>
      <label class="col-2 align-self-center">{{"medicine-edit.main-ingredient-code" | translate}}</label>
      <div class="col-4">
        <p-autoComplete [(ngModel)]="selectedMainIngredient" [suggestions]="filteredMainIngredientList" (completeMethod)="filterAutoComplete($event)" optionLabel="mainIngredientName">
          <ng-template #item let-mainIngredient>
            <div>{{mainIngredient.mainIngredientCode}}</div>
            <div>{{mainIngredient.mainIngredientName}}</div>
          </ng-template>
        </p-autoComplete>
      </div>
      <label class="col-2 align-self-center">{{"medicine-edit.kd-code" | translate}}</label>
      <div class="col-4">
        <input class="text-base" pInputText type="text" maxlength="200" [(ngModel)]="medicineModel.kdCode" />
      </div>
      <label class="col-2 align-self-center">{{"medicine-edit.standard-code" | translate}}</label>
      <div class="col-4">
        <input class="text-base" pInputText type="text" maxlength="200" [(ngModel)]="medicineModel.standardCode" />
      </div>
      <label class="col-2 align-self-center">{{"medicine-edit.pharma" | translate}}</label>
      <div class="col-4">
        <input class="text-base" pInputText type="text" maxlength="200" [(ngModel)]="medicineModel.pharma" />
      </div>
      <label class="col-2 align-self-center">{{"medicine-edit.name" | translate}}</label>
      <div class="col-4">
        <input class="text-base" pInputText type="text" maxlength="200" [(ngModel)]="medicineModel.name" />
      </div>
      <label class="col-2 align-self-center">{{"medicine-edit.custom-price" | translate}}</label>
      <div class="col-4">
        <input class="text-base" pInputText type="number" maxlength="200" [(ngModel)]="medicineModel.customPrice" />
      </div>
      <label class="col-2 align-self-center">{{"medicine-edit.charge" | translate}}</label>
      <div class="col-4">
        <input class="text-base" pInputText type="number" maxlength="3" [(ngModel)]="medicineModel.charge" />
      </div>
      <label class="col-2 align-self-center">{{"common-desc.in-visible" | translate}}</label>
      <div class="col-4">
        <p-select [options]="[true, false]" [(ngModel)]="medicineModel.inVisible" />
      </div>
    </div>
  </p-card>
  <p-card class="flex grid m-1" *ngIf="medicineModel">
    <div class="field col grid">
      <label class="col-1 align-self-center">{{"medicine-edit.standard" | translate}}</label>
      <div class="col-2">
        <input class="text-base" pInputText type="text" maxlength="200" [(ngModel)]="medicineModel.medicineSubModel.standard" />
      </div>
      <label class="col-1 align-self-center">{{"medicine-edit.account-unit" | translate}}</label>
      <div class="col-2">
        <input class="text-base" pInputText type="text" maxlength="200" [(ngModel)]="medicineModel.medicineSubModel.accountUnit" />
      </div>
      <label class="col-1 align-self-center">{{"medicine-edit.medicine-type" | translate}}</label>
      <div class="col-2">
        <p-select [options]="medicineTypeList" [(ngModel)]="selectMedicineType" />
      </div>
      <label class="col-1 align-self-center">{{"medicine-edit.medicine-method" | translate}}</label>
      <div class="col-2">
        <p-select [options]="medicineMethodList" [(ngModel)]="selectMedicineMethod" />
      </div>
      <label class="col-1 align-self-center">{{"medicine-edit.medicine-category" | translate}}</label>
      <div class="col-2">
        <p-select [options]="medicineCategoryList" [(ngModel)]="selectMedicineCategory" />
      </div>
      <label class="col-1 align-self-center">{{"medicine-edit.medicine-group" | translate}}</label>
      <div class="col-2">
        <p-select [options]="medicineGroupList" [(ngModel)]="selectMedicineGroup" />
      </div>
      <label class="col-1 align-self-center">{{"medicine-edit.medicine-div" | translate}}</label>
      <div class="col-2">
        <p-select [options]="medicineDivList" [(ngModel)]="selectMedicineDiv" />
      </div>
      <label class="col-1 align-self-center">{{"medicine-edit.medicine-rank" | translate}}</label>
      <div class="col-2">
        <p-select [options]="medicineRankList" [(ngModel)]="selectMedicineRank" />
      </div>
      <label class="col-1 align-self-center">{{"medicine-edit.medicine-storage-temp" | translate}}</label>
      <div class="col-2">
        <p-select [options]="medicineStorageTempList" [(ngModel)]="selectMedicineStorageTemp" />
      </div>
      <label class="col-1 align-self-center">{{"medicine-edit.medicine-storage-box" | translate}}</label>
      <div class="col-2">
        <p-select [options]="medicineStorageBoxList" [(ngModel)]="selectMedicineStorageBox" />
      </div>
      <label class="col-1 align-self-center">{{"medicine-edit.package-unit" | translate}}</label>
      <div class="col-2">
        <input class="text-base" pInputText type="number" maxlength="200" [(ngModel)]="medicineModel.medicineSubModel.packageUnit" />
      </div>
      <label class="col-1 align-self-center">{{"medicine-edit.unit" | translate}}</label>
      <div class="col-2">
        <input class="text-base" pInputText type="text" maxlength="200" [(ngModel)]="medicineModel.medicineSubModel.unit" />
      </div>
      <label class="col-1 align-self-center">{{"medicine-edit.etc1" | translate}}</label>
      <div class="col-2">
        <input class="text-base" pInputText type="text" maxlength="500" [(ngModel)]="medicineModel.medicineSubModel.etc1" />
      </div>
      <label class="col-1 align-self-center">{{"medicine-edit.etc2" | translate}}</label>
      <div class="col-2">
        <input class="text-base" pInputText type="text" maxlength="500" [(ngModel)]="medicineModel.medicineSubModel.etc2" />
      </div>
    </div>
  </p-card>
</div>
