<div class="flex flex-row my-info-container">
  <app-progress-spin [isLoading]="isLoading" />
  <p-accordion class="flex-auto" [multiple]="multipleEnable" [value]="['0']">
    <p-accordion-panel class="flex flex-column" *ngIf="userDataModel?.id != undefined" value="0">
      <p-accordion-header>{{"my-info.accordion-header.detail" | translate}}</p-accordion-header>
      <p-accordion-content>
        <div class="flex">
          <p-button (click)="logout()">{{"common-desc.logout" | translate}}</p-button>
        </div>
        <div class="flex">
          <label class="col-6 mr-1">{{"my-info.detail.id" | translate}}</label>
          <label class="col-6">{{userDataModel?.id}}</label>
        </div>
        <div class="flex">
          <label class="col-6 mr-1">{{"my-info.detail.password" | translate}}</label>
          <p-button class="col-6" (click)="passwordChange()">{{"common-desc.edit" | translate}}</p-button>
        </div>
        <div class="flex">
          <label class="col-6 mr-1">{{"my-info.detail.name" | translate}}</label>
          <label class="col-6">{{userDataModel?.name}}</label>
        </div>
        <div class="flex">
          <label class="col-6 mr-1">{{"my-info.detail.mail" | translate}}</label>
          <label class="col-6">{{userDataModel?.mail}}</label>
        </div>
        <div class="flex">
          <label class="col-6 mr-1">{{"my-info.detail.phone-number" | translate}}</label>
          <label class="col-6">{{userDataModel?.phoneNumber}}</label>
        </div>
        <div class="flex">
          <label class="col-6 mr-1">{{"my-info.detail.role" | translate}}</label>
          <label class="col-6">{{flagToRoleDesc(userDataModel?.role)}}</label>
        </div>
        <div class="flex">
          <label class="col-6 mr-1">{{"my-info.detail.dept" | translate}}</label>
          <label class="col-6">{{flagToDeptDesc(userDataModel?.dept)}}</label>
        </div>
        <div class="flex">
          <label class="col-6 mr-1">{{"my-info.detail.status" | translate}}</label>
          <p-tag class="col-6" [value]="statusToUserStatusDesc(userDataModel?.status)" [severity]="getSeverity(userDataModel?.status)"/>
        </div>
        <div class="flex">
          <label class="col-6 mr-1">{{"my-info.detail.reg-date" | translate}}</label>
          <label class="col-6">{{dateToYearFullString(stringToDate(userDataModel?.regDate))}}</label>
        </div>
        <div class="flex">
          <label class="col-6 mr-1">{{"my-info.detail.last-login-date" | translate}}</label>
          <label class="col-6">{{dateToYearFullString(stringToDate(userDataModel?.lastLoginDate))}}</label>
        </div>
      </p-accordion-content>
    </p-accordion-panel>
    <p-accordion-panel class="flex-auto" *ngIf="(userDataModel?.children?.length ?? 0) > 0" value="1">
      <p-accordion-header>{{"my-info.accordion-header.child" | translate}}</p-accordion-header>
      <p-accordion-content>
        <p-table [value]="userDataModel?.children ?? []" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 20, 50]"
                 [tableStyle]="{'min-width': '25rem'}" styleClass="p-datatable-gridlines p-datatable-sm p-datatable-striped">
          <ng-template #header>
            <tr>
              <th>{{"my-info.child.id" | translate}}</th>
              <th>{{"my-info.child.name" | translate}}</th>
              <th>{{"my-info.child.phone-number" | translate}}</th>
              <th>{{"my-info.child.status" | translate}}</th>
              <th>{{"my-info.child.company-name" | translate}}</th>
              <th>{{"my-info.child.tax-payer-image" | translate}}</th>
              <th>{{"my-info.child.bank-account-image" | translate}}</th>
            </tr>
          </ng-template>
          <ng-template #body let-child>
            <tr>
              <td>{{child?.id}}</td>
              <td>{{child?.name}}</td>
              <td>{{child?.phoneNumber}}</td>
              <td>
                <p-tag [value]="statusToUserStatusDesc(child?.status)" [severity]="getSeverity(child?.status)"/>
              </td>
              <td>{{child?.companyName}}</td>
              <td>
                <p-button [disabled]="(child?.taxpayerImageUrl?.length ?? 0) <= 0">{{"common-desc.open" | translate}}</p-button>
              </td>
              <td>
                <p-button [disabled]="(child?.bankAccountImageUrl?.length ?? 0) <= 0">{{"common-desc.open" | translate}}</p-button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-accordion-content>
    </p-accordion-panel>
  </p-accordion>
</div>
