<div class="edi-list-container">
  <app-progress-spin [isLoading]="isLoading" />
  <p-table #listTable [columns]="selectedHeaders" [value]="viewList" [scrollable]="true" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 20, 50]" [loading]="isLoading"
           [globalFilterFields]="filterFields" [tableStyle]="tableStyle" size="small" stripedRows="true">
    <ng-template #caption>
      <div class="flex">
        <p-date-picker #startDatePicker [(ngModel)]="startDate" (selectionchange)="startDateChange($event)" dateFormat="yy-mm-dd" pTooltip="{{startDatePlaceHolder | translate}}" />
        <p-date-picker #endDatePicker [(ngModel)]="endDate" (selectionchange)="endDateChange($event)" dateFormat="yy-mm-dd" pTooltip="{{endDatePlaceHolder | translate}}" />
        <p-checkbox class="align-self-center ml-2" binary="true" [(ngModel)]="myChild" pTooltip="{{myChildTooltip | translate}}" />
        <p-button class="m-1" (onClick)="refreshData()" icon="pi pi-refresh" />
        <p-multi-select [options]="headerList" [(ngModel)]="selectedHeaders" (ngModelChange)="headerSelectChange($event)">
          <ng-template #item let-item>
            <div>{{item.header | translate}}</div>
          </ng-template>
          <ng-template #selecteditems let-items>
            <div *ngFor="let item of items">
              {{item?.header | translate}},
            </div>
          </ng-template>
        </p-multi-select>
        <p-iconfield iconPosition="left" class="ml-auto justify-content-end">
          <p-inputicon>
            <i class="pi pi-search"></i>
          </p-inputicon>
          <input pInputText type="text" (input)="filterTable(listTable, $event, filterTableOption)" placeholder="Search keyword" />
        </p-iconfield>
      </div>
    </ng-template>
    <ng-template #header let-columns>
      <tr>
        <th *ngFor="let col of columns" [ngClass]="col.className">{{col.header | translate}}</th>
      </tr>
    </ng-template>
    <ng-template #body let-item let-columns="columns">
      <tr class="click-tr" (click)="openData(item)">
        <td *ngFor="let col of columns">
          <label *ngIf="isHeaderLabel(col)">{{getTableItem(item, col)}}</label>
          <p-tag *ngIf="isHeaderTag(col)" [severity]="getTableItemSeverity(item)">{{getTableItem(item, col)}}</p-tag>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
