<div class="user-setting-container">
  <p-table #listTable [value]="userDataModel" [scrollable]="true" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 20, 50]" [loading]="isLoading"
           [globalFilterFields]="['id', 'name', 'status', 'role']" (sortFunction)="customSort($event, isSorted, listTable, initValue, userDataModel)" [customSort]="true"
           [tableStyle]="{'min-width': '25rem'}" styleClass="p-datatable-gridlines p-datatable-sm p-datatable-striped">
    <ng-template pTemplate="caption">
      <p-button class="m-1" (onClick)="refreshUserDataModel()" icon="pi pi-refresh" [disabled]="!haveRole" />
      <p-button class="m-1" (onClick)="uploadExcel()" icon="pi pi-file-excel" [disabled]="!haveRole" />
      <p-button class="m-1" (onClick)="sampleDown()" icon="pi pi-download" pTooltip="{{'common-desc.sample-download' | translate}}" />
      <input #inputUploadExcel class="collapse" type="file" accept=".xlsx" (change)="excelSelected($event)">
      <p-iconField iconPosition="left" class="ml-auto">
        <p-inputIcon>
          <i class="pi pi-search"></i>
        </p-inputIcon>
        <input pInputText type="text" (input)="filterTable(listTable, $event, 'contains')" placeholder="Search keyword" />
      </p-iconField>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id">{{"user-setting.id" | translate}} <p-sortIcon field="id" /></th>
        <th pSortableColumn="name">{{"user-setting.name" | translate}} <p-sortIcon field="name" /></th>
        <th>{{"user-setting.mail" | translate}}</th>
        <th>{{"user-setting.phone-number" | translate}}</th>
        <th pSortableColumn="status">{{"user-setting.status" | translate}} <p-sortIcon field="status" /></th>
        <th pSortableColumn="role">{{"user-setting.role" | translate}} <p-sortIcon field="role" /></th>
        <th>{{"common-desc.edit" | translate}}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-userData>
      <tr>
        <td>{{userData.id}}</td>
        <td>{{userData.name}}</td>
        <td>{{userData.mail}}</td>
        <td>{{userData.phoneNumber}}</td>
        <td>
          <p-tag [value]="statusToUserStatusDesc(userData.status)" [severity]="getSeverity(userData.status)"/>
        </td>
        <td>
          <span class="flex h-full mr-1 align-items-center inline-flex" *ngFor="let role of flagToRoleDesc(userData.role)">
            <p-tag [value]="role"/>
          </span>
        </td>
        <td>
          <p-button class="p-button-sm" (onClick)="userEdit(userData)">{{"common-desc.edit" | translate}}</p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
