<div class="flex flex-column flex-wrap hospital-add-dialog-container">
  <app-progress-spin [isLoading]="isLoading" />
  <div class="m-1">
    <p-button class="m-1" (onClick)="saveData()" [disabled]="!haveRole">{{"common-desc.save" | translate}}</p-button>
    <p-button class="m-1" (onClick)="closeThis()">{{"common-desc.close" | translate}}</p-button>
  </div>
  <p-card class="flex grid m-1" *ngIf="hospitalModel">
    <div class="field col grid">
      <label class="col-2 align-self-center">{{"hospital-add.code" | translate}}</label>
      <div class="col-4">
        <input class="text-base" pInputText type="number" maxlength="200" [(ngModel)]="hospitalModel.code" />
      </div>
      <label class="col-2 align-self-center">{{"hospital-add.org-name" | translate}}</label>
      <div class="col-4">
        <input class="text-base" pInputText type="text" maxlength="200" [(ngModel)]="hospitalModel.orgName" />
      </div>
      <label class="col-2 align-self-center">{{"hospital-add.inner-name" | translate}}</label>
      <div class="col-4">
        <input class="text-base" pInputText type="text" maxlength="200" [(ngModel)]="hospitalModel.innerName" />
      </div>
      <label class="col-2 align-self-center">{{"hospital-add.owner-name" | translate}}</label>
      <div class="col-4">
        <input class="text-base" pInputText type="text" maxlength="200" [(ngModel)]="hospitalModel.ownerName" />
      </div>
      <label class="col-2 align-self-center">{{"hospital-add.phone-number" | translate}}</label>
      <div class="col-4">
        <input class="text-base" pInputText type="text" maxlength="200" [(ngModel)]="hospitalModel.phoneNumber" />
      </div>
      <label class="col-2 align-self-center">{{"hospital-add.fax-number" | translate}}</label>
      <div class="col-4">
        <input class="text-base" pInputText type="text" maxlength="200" [(ngModel)]="hospitalModel.faxNumber" />
      </div>
      <label class="col-2 align-self-center">{{"hospital-add.zip-code" | translate}}</label>
      <div class="col-4">
        <input class="text-base" pInputText type="text" maxlength="200" [(ngModel)]="hospitalModel.zipCode" />
      </div>
      <label class="col-2 align-self-center">{{"hospital-add.address" | translate}}</label>
      <div class="col-4">
        <input class="text-base" pInputText type="text" maxlength="200" [(ngModel)]="hospitalModel.address" />
      </div>
      <label class="col-2 align-self-center">{{"hospital-add.address-detail" | translate}}</label>
      <div class="col-4">
        <input class="text-base" pInputText type="text" maxlength="200" [(ngModel)]="hospitalModel.addressDetail" />
      </div>
    </div>
  </p-card>
  <p-card class="flex grid m-1" *ngIf="hospitalModel">
    <div class="field col grid">
      <label class="col-2 align-self-center">{{"hospital-add.business-type" | translate}}</label>
      <div class="col-4">
        <input class="text-base" pInputText type="text" maxlength="200" [(ngModel)]="hospitalModel.businessType" />
      </div>
      <label class="col-2 align-self-center">{{"hospital-add.business-item" | translate}}</label>
      <div class="col-4">
        <input class="text-base" pInputText type="text" maxlength="200" [(ngModel)]="hospitalModel.businessItem" />
      </div>
      <label class="col-2 align-self-center">{{"hospital-add.bill-type" | translate}}</label>
      <div class="col-4">
        <p-select [options]="billTypeList" [(ngModel)]="selectBillType" appendTo="body"/>
      </div>
      <label class="col-2 align-self-center">{{"hospital-add.contract-type" | translate}}</label>
      <div class="col-4">
        <p-select [options]="contractTypeList" [(ngModel)]="selectContractType" appendTo="body"/>
      </div>
      <label class="col-2 align-self-center">{{"hospital-add.delivery-div" | translate}}</label>
      <div class="col-4">
        <p-select [options]="deliveryDivList" [(ngModel)]="selectDeliveryDiv" appendTo="body"/>
      </div>
      <label class="col-2 align-self-center">{{"hospital-add.license-number" | translate}}</label>
      <div class="col-4">
        <input class="text-base" pInputText type="text" maxlength="200" [(ngModel)]="hospitalModel.licenseNumber" />
      </div>
      <label class="col-2 align-self-center">{{"hospital-add.nursing-home-number" | translate}}</label>
      <div class="col-4">
        <input class="text-base" pInputText type="text" maxlength="200" [(ngModel)]="hospitalModel.nursingHomeNumber" />
      </div>
      <label class="col-2 align-self-center">{{"hospital-add.mail" | translate}}</label>
      <div class="col-4">
        <input class="text-base" pInputText type="text" maxlength="200" [(ngModel)]="hospitalModel.mail" />
      </div>
      <label class="col-2 align-self-center">{{"hospital-add.mobile-phone" | translate}}</label>
      <div class="col-4">
        <input class="text-base" pInputText type="text" maxlength="200" [(ngModel)]="hospitalModel.mobilePhone" />
      </div>
      <label class="col-2 align-self-center">{{"hospital-add.open-date" | translate}}</label>
      <div class="col-4">
        <p-date-picker [(ngModel)]="hospitalModel.openDate" dateFormat="yy-mm-dd" appendTo="body" />
      </div>
      <label class="col-2 align-self-center">{{"hospital-add.close-date" | translate}}</label>
      <div class="col-4">
        <p-date-picker [(ngModel)]="hospitalModel.closeDate" dateFormat="yy-mm-dd" appendTo="body" />
      </div>
      <label class="col-2 align-self-center">{{"hospital-add.etc1" | translate}}</label>
      <div class="col-4">
        <input class="text-base" pInputText type="text" maxlength="500" [(ngModel)]="hospitalModel.etc1" />
      </div>
      <label class="col-2 align-self-center">{{"hospital-add.etc2" | translate}}</label>
      <div class="col-4">
        <input class="text-base" pInputText type="text" maxlength="500" [(ngModel)]="hospitalModel.etc2" />
      </div>
    </div>
    <div class="field col grid">
      <label class="col-2 align-self-center">{{"hospital-add.taxpayer-number" | translate}}</label>
      <div class="col-4">
        <input class="text-base" pInputText type="text" maxlength="200" [(ngModel)]="hospitalModel.taxpayerNumber" />
      </div>
    </div>
  </p-card>
</div>
