<div class="request-sub-edi-upload-container"><app-progress-spin [isLoading]="isLoading" />
  <drawer-fullscreen-file-view #fullscreenFileView />
  <div>
    <span>{{"edi-view.apply-date" | translate}}</span>
    <span>{{getApplyDate()}}</span>
    <span>{{"edi-view.reg-date" | translate}}</span>
    <span>{{dateToYYYYMMdd(uploadModel.regDate)}}</span>
  </div>
  <div>
    <span>{{"edi-view.hospital-name" | translate}}</span>
    <span>{{uploadModel.orgName}}</span>
  </div>
  <div>
    <span>{{"edi-view.user-name" | translate}}</span>
    <span>{{uploadModel.name}}</span>
    <span>{{"edi-view.edi-state" | translate}}</span>
    <span>
      <p-tag [value]="uploadModel.ediState" [severity]="getEDIStateSeverity(uploadModel.ediState)" />
    </span>
  </div>
  <p-accordion [multiple]="multipleEnable">
    <p-accordion-panel *ngFor="let pharma of uploadModel.pharmaList" value="{{accordionPharmaIndex(pharma)}}">
      <p-accordion-header>
        <div>
          <span>{{pharma.orgName}}</span>
        </div>
        <div *ngIf="pharma.isCarriedOver">
          <span>{{"edi-view.carried-over" | translate}}</span>
          <span>{{"edi-view.approx-apply-date" | translate}}</span>
          <span>{{getPharmaApplyDate(pharma)}}</span>
        </div>
        <div>
          <span>{{"edi-view.edi-state" | translate}}</span>
          <span>
            <p-tag [value]="pharma.ediState" [severity]="getEDIStateSeverity(pharma.ediState)" />
            <p-button (click)="$event.stopPropagation(); responsePharma(pharma)" *ngIf="!modifyDisable(pharma)">{{"common-desc.modify" | translate}}</p-button>
          </span>
        </div>
        <div *ngIf="!modifyDisable(pharma)">
          <span>{{"common-desc.modify" | translate}}</span>
          <span>
            <p-button icon="pi pi-file-edit" (click)="$event.stopPropagation(); pharmaModify(pharma)" />
          </span>
        </div>
      </p-accordion-header>
      <p-accordion-content>
        <p-table #listTable [value]="pharma.medicineList" [scrollable]="true" [paginator]="true" [rows]="10" [tableStyle]="tableStyle" size="small" stripedRows="true">
          <ng-template #header>
            <tr>
              <th>{{"edi-view.medicine-name" | translate}}</th>
              <th>{{"edi-view.medicine-count" | translate}}</th>
              <th>{{"edi-view.medicine-charge" | translate}}</th>
              <th>{{"edi-view.medicine-price" | translate}}</th>
              <th>{{"edi-view.medicine-date" | translate}}</th>
              <th *ngIf="!modifyDisable(pharma)">{{"common-desc.modify" | translate}}</th>
              <th *ngIf="!modifyDisable(pharma)">{{"common-desc.remove" | translate}}</th>
            </tr>
          </ng-template>
          <ng-template #body let-medicine>
            <tr>
              <td>{{medicine.name}}</td>
              <td>
                <input type="number" [(ngModel)]="medicine.count" [disabled]="modifyDisable(pharma)">
              </td>
              <td>
                <input type="number" [(ngModel)]="medicine.charge" [disabled]="modifyDisable(pharma)">
              </td>
              <td>
                <input type="number" [(ngModel)]="medicine.price" [disabled]="modifyDisable(pharma)">
              </td>
              <td>{{getMedicineApplyDate(medicine)}}</td>
              <td *ngIf="!modifyDisable(pharma)">
                <p-button tabindex="-1" icon="pi pi-file-edit" (click)="medicineModify(medicine)" [disabled]="modifyDisable(pharma)"></p-button>
              </td>
              <td *ngIf="!modifyDisable(pharma)">
                <p-button tabindex="-1" icon="pi pi-trash" (click)="removeMedicine(pharma, medicine)" [disabled]="modifyDisable(pharma)"></p-button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-accordion-content>
    </p-accordion-panel>
  </p-accordion>
  <p-accordion [multiple]="multipleEnable">
    <p-accordion-panel *ngFor="let response of uploadModel.responseList" value="{{accordionResponseIndex(response)}}">
      <p-accordion-header>
        <div>
          <span>{{response.pharmaName}}</span>
        </div>
        <div>
          <span>{{"edi-view.reply.edi-state" | translate}}</span>
          <p-tag [value]="response.ediState" [severity]="getEDIStateSeverity(response.ediState)" />
        </div>
        <div>
          <span>{{"edi-view.reply.reg-date" | translate}}</span>
          <span>{{dateToYYYYMMdd(response.regDate)}}</span>
        </div>
        <div>
          <span>{{"edi-view.reply.user-name" | translate}}</span>
          <span>{{response.userName}}</span>
        </div>
      </p-accordion-header>
      <p-accordion-content *ngIf="response.etc.length > 0">
        <textarea rows="5" cols="30" pTextarea [autoResize]="true" [(ngModel)]="response.etc" [readonly]="true"></textarea>
      </p-accordion-content>
    </p-accordion-panel>
  </p-accordion>
  <div class="flex" *ngIf="uploadModel.fileList.length > 0">
    <p-button class="m-1 align-content-center" (click)="allDownload()">{{"common-desc.all-save" | translate}}</p-button>
    <p-select class="m-1 align-content-center" [options]="uploadModel.pharmaList" [(ngModel)]="selectPrintPharma" optionLabel="orgName" />
    <p-select class="m-1 align-content-center" [options]="allTextPositionDesc()" [(ngModel)]="selectTextPosition" />
    <p-ifta-label>
      <input id="fontSize" [(ngModel)]="fontSize" type="number" pInputText />
      <label for="fontSize">{{"common-desc.font-size" | translate}}</label>
    </p-ifta-label>
  </div>
  <p-galleria tabindex="-1" [value]="uploadModel.fileList" indicatorsPosition="bottom" [showItemNavigators]="true" [showIndicators]="true" [showThumbnails]="false" [showIndicatorsOnItem]="false"
              [containerStyle]="galleriaContainerStyle" [numVisible]="0" [(activeIndex)]="activeIndex" *ngIf="uploadModel.fileList.length > 0">
    <ng-template pTemplate="item" let-item>
      <img [src]="getBlobUrl(item)" [alt]="item.originalFilename" class="edi-image cursor-pointer" (click)="viewEDIItem(uploadModel.fileList, item)" />
    </ng-template>
    <ng-template pTemplate="caption" let-item>
      <div class="flex">
        <p-button class="flex m-1" size="small" icon="pi pi-download" [rounded]="true" pTooltip="{{downloadFileTooltip | translate}}" (click)="downloadEDIFile(item)" />
        <div class="flex-row">
          <label class="flex">{{ellipsis(item?.originalFilename, 50)}}</label>
          <label class="flex">{{dateToYYYYMMdd(item?.regDate)}}</label>
        </div>
        <p-button class="flex m-1 justify-content-end ml-auto" size="small" icon="pi pi-times" [rounded]="true" pTooltip="{{removeFileTooltip | translate}}" (click)="removeEDIFile(item)" />
      </div>
    </ng-template>
  </p-galleria>
</div>
