<div class="request-sub-edi-upload-container no-drag">
  <app-progress-spin [isLoading]="isLoading" />
  <drawer-fullscreen-file-view #fullscreenFileView />
  <drawer-image-modify-view #imageModifyView (error)="onError($event)" (warn)="onWarn($event)" />
  <p-context-menu [target]="ediGalleria" [model]="contextMenu" (onShow)="contextMenuOnShow()" appendTo="body">
    <ng-template pTemplate="item" let-item>
      <a pRipple class="flex align-items-center p-contextmenu-item-link">
        <span [class]="item.icon"></span>
        <span class="ml-2">{{item.label | translate}}</span>
      </a>
    </ng-template>
  </p-context-menu>
  <div class="flex">
    <p-ifta-label class="m-1">
      <input id="applyDate" [ngModel]="getApplyDate()" readonly pInputText />
      <label for="applyDate">{{"edi-view.apply-date" | translate}}</label>
    </p-ifta-label>
    <p-ifta-label class="m-1">
      <input id="regDate" [ngModel]="dateToYYYYMMdd(uploadModel.regDate)" readonly pInputText />
      <label for="regDate">{{"edi-view.reg-date" | translate}}</label>
    </p-ifta-label>
    <p-ifta-label class="m-1">
      <input id="hospitalName" [ngModel]="uploadModel.orgName" readonly pInputText />
      <label for="hospitalName">{{"edi-view.hospital-name" | translate}}</label>
    </p-ifta-label>
    <p-ifta-label class="m-1" *ngIf="!isDefault">
      <input id="hospitalNewName" [ngModel]="uploadModel.etc" readonly pInputText />
      <label for="hospitalNewName" *ngIf="isNew">{{"edi-view.hospital-new-name" | translate}}</label>
      <label for="hospitalNewName" *ngIf="isTransfer">{{"edi-view.hospital-transfer-name" | translate}}</label>
    </p-ifta-label>
  </div>
  <div class="flex">
    <p-ifta-label class="m-1">
      <input id="userId" [ngModel]="uploadModel.id" readonly pInputText />
      <label for="userId">{{"edi-view.id" | translate}}</label>
    </p-ifta-label>
    <p-ifta-label class="m-1">
      <input id="userName" [ngModel]="uploadModel.name" readonly pInputText />
      <label for="userName">{{"edi-view.user-name" | translate}}</label>
    </p-ifta-label>
    <span class="m-1 align-self-center">
      <p-tag [value]="StringToEDIStateDesc[uploadModel.ediState]" [severity]="getEDIStateSeverity(uploadModel.ediState)" />
    </span>
    <p-button class="m-1 align-self-center" (click)="$event.stopPropagation(); responseNewEDI()" *ngIf="!newEDIModifyDisable()">{{"common-desc.modify" | translate}}</p-button>
  </div>
  <p-accordion [multiple]="multipleEnable">
    <p-accordion-panel *ngFor="let pharma of uploadModel.pharmaList; index as i" value="{{accordionPharmaIndex(pharma)}}">
      <p-accordion-header>
        <div class="flex flex-wrap w-full flex-row">
          <div class="flex col-2 align-items-center">
            <label>{{pharma.orgName}}</label>
          </div>
          <div *ngIf="pharma.isCarriedOver" class="flex col-2 align-items-center">
            <label>{{"edi-view.carried-over" | translate}}</label>
            <label>{{"edi-view.approx-apply-date" | translate}}</label>
            <label>{{getPharmaApplyDate(pharma)}}</label>
          </div>
          <div class="flex col-2 align-items-center">
            <p-tag [value]="StringToEDIStateDesc[pharma.ediState]" [severity]="getEDIStateSeverity(pharma.ediState)" />
            <p-button (click)="$event.stopPropagation(); responsePharma(pharma)" *ngIf="!modifyDisable(pharma)">{{"common-desc.modify" | translate}}</p-button>
          </div>
          <div class="flex flex-auto col-1 justify-content-end align-items-center" *ngIf="!modifyDisable(pharma)">
            <label>{{"common-desc.modify" | translate}}</label>
            <p-button icon="pi pi-file-edit" (click)="$event.stopPropagation(); pharmaModify(pharma)" />
          </div>
        </div>
      </p-accordion-header>
      <p-accordion-content>
        <div class="flex flex-row flex-wrap">
          <div class="flex col-6">
            <p-table #listTable class="flex w-full" [value]="pharma.medicineList" [scrollable]="true" [paginator]="true" [rows]="10" [tableStyle]="tableStyle" size="small" stripedRows="true">
              <ng-template #header>
                <tr>
                  <th>{{"edi-view.medicine-name" | translate}}</th>
                  <th>{{"edi-view.medicine-count" | translate}}</th>
                  <th>{{"edi-view.medicine-charge" | translate}}</th>
                  <th>{{"edi-view.medicine-price" | translate}}</th>
                  <th>{{"edi-view.medicine-date" | translate}}</th>
                  <th *ngIf="!modifyDisable(pharma)">{{"common-desc.modify" | translate}}</th>
                  <th *ngIf="!modifyDisable(pharma)">{{"common-desc.remove" | translate}}</th>
                </tr>
              </ng-template>
              <ng-template #body let-medicine>
                <tr>
                  <td>{{medicine.name}}</td>
                  <td>
                    <input type="number" [(ngModel)]="medicine.count" [disabled]="modifyDisable(pharma)">
                  </td>
                  <td>
                    <input type="number" [(ngModel)]="medicine.charge" [disabled]="modifyDisable(pharma)">
                  </td>
                  <td>
                    <input type="number" [(ngModel)]="medicine.price" [disabled]="modifyDisable(pharma)">
                  </td>
                  <td>{{getMedicineApplyDate(medicine)}}</td>
                  <td *ngIf="!modifyDisable(pharma)">
                    <p-button tabindex="-1" icon="pi pi-file-edit" (click)="medicineModify(medicine)" [disabled]="modifyDisable(pharma)"></p-button>
                  </td>
                  <td *ngIf="!modifyDisable(pharma)">
                    <p-button tabindex="-1" icon="pi pi-trash" (click)="removeMedicine(pharma, medicine)" [disabled]="modifyDisable(pharma)"></p-button>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
          <app-edi-pharma-file-view-model #ediPharmaFileViewModel [applyDate]="getApplyDate()" [hospitalName]="getHospitalName()" [pharmaModel]="pharma"
                                          (error)="onError($event)" (warn)="onWarn($event)" (removeFileEvent)="removeEDIPharmaFile($event)" (downloadFileEvent)="downloadEDIPharmaFile($event)"/>
        </div>
      </p-accordion-content>
    </p-accordion-panel>
  </p-accordion>
  <p-accordion [multiple]="multipleEnable">
    <p-accordion-panel *ngFor="let response of uploadModel.responseList" value="{{accordionResponseIndex(response)}}">
      <p-accordion-header>
        <div class="flex flex-wrap w-full flex-row">
          <div class="flex col-2 align-items-center">
            <label>{{response.pharmaName}}</label>
          </div>
          <div class="flex col-2 align-items-center">
            <label>{{"edi-view.reply.edi-state" | translate}}</label>
            <p-tag [value]="StringToEDIStateDesc[response.ediState]" [severity]="getEDIStateSeverity(response.ediState)" />
          </div>
          <div class="flex col-2 align-items-center">
            <label>{{"edi-view.reply.reg-date" | translate}}</label>
            <label>{{dateToYYYYMMdd(response.regDate)}}</label>
          </div>
          <div class="flex col-2 align-items-center">
            <label>{{"edi-view.reply.user-name" | translate}}</label>
            <label>{{response.userName}}</label>
          </div>
        </div>
      </p-accordion-header>
      <p-accordion-content *ngIf="response.etc.length > 0">
        <textarea class="w-full" rows="5" cols="30" pTextarea [autoResize]="true" [(ngModel)]="response.etc" [readonly]="true"></textarea>
      </p-accordion-content>
    </p-accordion-panel>
  </p-accordion>
  <div class="flex" *ngIf="uploadModel.fileList.length > 0">
    <p-select class="m-1 align-self-center" [options]="uploadModel.pharmaList" [(ngModel)]="selectPrintPharma" optionLabel="orgName" *ngIf="uploadModel.pharmaList.length > 0"/>
    <p-select class="m-1 align-self-center" [options]="allTextPositionDesc()" [(ngModel)]="selectTextPosition" />
    <p-ifta-label class="m-1">
      <input id="fontSize" [(ngModel)]="fontSize" type="number" pInputText />
      <label for="fontSize">{{"common-desc.font-size" | translate}}</label>
    </p-ifta-label>
    <p-color-picker class="m-1 align-content-center" [(ngModel)]="backColor" pTooltip="{{backColorTooltip | translate}}"/>
    <p-color-picker class="m-1 align-content-center" [(ngModel)]="textColor" pTooltip="{{textColorTooltip | translate}}"/>
  </div>
  <div #ediGalleria>
    <p-galleria tabindex="-1" [value]="uploadModel.fileList" indicatorsPosition="bottom" [showItemNavigators]="true" [showThumbnails]="false" [showIndicatorsOnItem]="false"
                [containerStyle]="galleriaContainerStyle" [numVisible]="0" [(activeIndex)]="activeIndex" *ngIf="uploadModel.fileList.length > 0">
      <ng-template pTemplate="item" let-item>
        <img [src]="getBlobUrl(item)" [alt]="item.originalFilename" class="edi-image cursor-pointer" (click)="viewEDIItem(uploadModel.fileList, item)" />
      </ng-template>
      <ng-template pTemplate="footer">
        <div class="flex">
          <label class="flex m-1 align-self-center">{{activeIndex + 1}}/{{uploadModel.fileList.length}}</label>
          <label class="flex m-1 align-self-center font-bold">{{ellipsis(uploadModel.fileList[activeIndex].originalFilename, 50)}}</label>
          <label class="flex m-1 align-self-center">{{dateToYYYYMMdd(uploadModel.fileList[activeIndex].regDate)}}</label>
          <p-button class="flex m-1 justify-content-end ml-auto" size="small" icon="pi pi-times" [rounded]="true" pTooltip="{{removeFileTooltip | translate}}" (click)="removeEDIFile(uploadModel.fileList[activeIndex])" />
        </div>
      </ng-template>
    </p-galleria>
  </div>
</div>
