<div class="flex flex-column flex-wrap medicine-add-dialog-container">
  <app-progress-spin [isLoading]="isLoading" />
  <div class="m-1">
    <p-button class="m-1" (onClick)="saveData()" [disabled]="!haveRole">{{"common-desc.save" | translate}}</p-button>
    <p-button class="m-1" (onClick)="closeThis()">{{"common-desc.close" | translate}}</p-button>
  </div>
  <p-card class="flex grid m-1" *ngIf="medicineModel">
    <div class="field col grid">
      <label class="col-2 align-self-center">{{"medicine-add-dialog.code" | translate}}</label>
      <div class="col-4">
        <input class="text-base" pInputText type="number" maxlength="200" [(ngModel)]="medicineModel.code" />
      </div>
      <label class="col-2 align-self-center">{{"medicine-add-dialog.main-ingredient-code" | translate}}</label>
      <div class="col-4">
        <p-autoComplete [(ngModel)]="selectedMainIngredient" [suggestions]="filteredMainIngredientList" (completeMethod)="filterAutoComplete($event)" optionLabel="mainIngredientName">
          <ng-template pTemplate="item" let-mainIngredient>
            <div>{{mainIngredient.mainIngredientCode}}</div>
            <div>{{mainIngredient.mainIngredientName}}</div>
          </ng-template>
        </p-autoComplete>
      </div>
      <label class="col-2 align-self-center">{{"medicine-add-dialog.kd-code" | translate}}</label>
      <div class="col-4">
        <input class="text-base" pInputText type="text" maxlength="200" [(ngModel)]="medicineModel.kdCode" />
      </div>
      <label class="col-2 align-self-center">{{"medicine-add-dialog.standard-code" | translate}}</label>
      <div class="col-4">
        <input class="text-base" pInputText type="text" maxlength="200" [(ngModel)]="medicineModel.standardCode" />
      </div>
      <label class="col-2 align-self-center">{{"medicine-add-dialog.pharma" | translate}}</label>
      <div class="col-4">
        <input class="text-base" pInputText type="text" maxlength="200" [(ngModel)]="medicineModel.pharma" />
      </div>
      <label class="col-2 align-self-center">{{"medicine-add-dialog.name" | translate}}</label>
      <div class="col-4">
        <input class="text-base" pInputText type="text" maxlength="200" [(ngModel)]="medicineModel.name" />
      </div>
      <label class="col-2 align-self-center">{{"medicine-add-dialog.custom-price" | translate}}</label>
      <div class="col-4">
        <input class="text-base" pInputText type="number" maxlength="200" [(ngModel)]="medicineModel.customPrice" />
      </div>
    </div>
  </p-card>
  <p-card class="flex grid m-1" *ngIf="medicineModel">
    <div class="field col grid">
      <label class="col-2 align-self-center">{{"medicine-add-dialog.standard" | translate}}</label>
      <div class="col-4">
        <input class="text-base" pInputText type="text" maxlength="200" [(ngModel)]="medicineModel.medicineSubModel.standard" />
      </div>
      <label class="col-2 align-self-center">{{"medicine-add-dialog.account-unit" | translate}}</label>
      <div class="col-4">
        <input class="text-base" pInputText type="text" maxlength="200" [(ngModel)]="medicineModel.medicineSubModel.accountUnit" />
      </div>
      <label class="col-2 align-self-center">{{"medicine-add-dialog.medicine-type" | translate}}</label>
      <p-dropdown class="col-4" [options]="medicineTypeList" [(ngModel)]="selectMedicineType" />
      <label class="col-2 align-self-center">{{"medicine-add-dialog.medicine-type" | translate}}</label>
      <p-dropdown class="col-4" [options]="medicineMethodList" [(ngModel)]="selectMedicineMethod" />
      <label class="col-2 align-self-center">{{"medicine-add-dialog.medicine-type" | translate}}</label>
      <p-dropdown class="col-4" [options]="medicineCategoryList" [(ngModel)]="selectMedicineCategory" />
      <label class="col-2 align-self-center">{{"medicine-add-dialog.medicine-type" | translate}}</label>
      <p-dropdown class="col-4" [options]="medicineGroupList" [(ngModel)]="selectMedicineGroup" />
      <label class="col-2 align-self-center">{{"medicine-add-dialog.medicine-type" | translate}}</label>
      <p-dropdown class="col-4" [options]="medicineDivList" [(ngModel)]="selectMedicineDiv" />
      <label class="col-2 align-self-center">{{"medicine-add-dialog.medicine-type" | translate}}</label>
      <p-dropdown class="col-4" [options]="medicineRankList" [(ngModel)]="selectMedicineRank" />
      <label class="col-2 align-self-center">{{"medicine-add-dialog.medicine-type" | translate}}</label>
      <p-dropdown class="col-4" [options]="medicineStorageTempList" [(ngModel)]="selectMedicineStorageTemp" />
      <label class="col-2 align-self-center">{{"medicine-add-dialog.medicine-type" | translate}}</label>
      <p-dropdown class="col-4" [options]="medicineStorageBoxList" [(ngModel)]="selectMedicineStorageBox" />
      <label class="col-2 align-self-center">{{"medicine-add-dialog.package-unit" | translate}}</label>
      <div class="col-4">
        <input class="text-base" pInputText type="number" maxlength="200" [(ngModel)]="medicineModel.medicineSubModel.packageUnit" />
      </div>
      <label class="col-2 align-self-center">{{"medicine-add-dialog.unit" | translate}}</label>
      <div class="col-4">
        <input class="text-base" pInputText type="text" maxlength="200" [(ngModel)]="medicineModel.medicineSubModel.unit" />
      </div>
      <label class="col-2 align-self-center">{{"medicine-add-dialog.etc1" | translate}}</label>
      <div class="col-4">
        <input class="text-base" pInputText type="text" maxlength="500" [(ngModel)]="medicineModel.medicineSubModel.etc1" />
      </div>
      <label class="col-2 align-self-center">{{"medicine-add-dialog.etc2" | translate}}</label>
      <div class="col-4">
        <input class="text-base" pInputText type="text" maxlength="500" [(ngModel)]="medicineModel.medicineSubModel.etc2" />
      </div>
    </div>
  </p-card>
</div>
