<div class="request-view-container">
  <div class="flex">
    <p-button class="m-1" (onClick)="refreshData()" icon="pi pi-refresh" [disabled]="!haveRole"/>
    <p-selectButton class="m-1" [options]="viewTypeList" [(ngModel)]="selectedViewType" [disabled]="!haveRole" (onChange)="viewTypeChange($event)">
      <ng-template pTemplate="body" let-item>
        <label>{{item.label | translate}}</label>
      </ng-template>
    </p-selectButton>
    <div class="m-1" *ngIf="selectedViewType.index == 2">
      <p-calendar #startCalendar [(ngModel)]="startDate" (selectionchange)="startDateChange($event)" dateFormat="yy-mm-dd" pTooltip="{{'dash-board.header.start-date' | translate}}" />
      <p-calendar #endCalendar [(ngModel)]="endDate" (selectionchange)="endDateChange($event)" dateFormat="yy-mm-dd" pTooltip="{{'dash-board.header.end-date' | translate}}" />
    </div>
  </div>
  <p-table #listTable [value]="viewList" [scrollable]="true" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 20, 50]" [loading]="isLoading"
           [globalFilterFields]="['requestDate', 'responseType']" (sortFunction)="customSort($event, isSorted, listTable, initValue, viewList)" [customSort]="true"
           [tableStyle]="{'min-width': '25rem'}" styleClass="p-datatable-gridlines p-datatable-sm p-datatable-striped">
    <ng-template pTemplate="caption">
      <div class="flex">
        <p-iconField iconPosition="left" class="ml-auto justify-content-end">
          <p-inputIcon>
            <i class="pi pi-search"></i>
          </p-inputIcon>
          <input pInputText type="text" (input)="filterTable(listTable, $event, 'contains')" placeholder="Search keyword" />
        </p-iconField>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="requestDate">{{"dash-board.request.request-date" | translate}} <p-sortIcon field="requestDate" /></th>
        <th pSortableColumn="responseType">{{"dash-board.request.response-type" | translate}} <p-sortIcon field="responseType"/></th>
        <th>{{"dash-board.request.request-type" | translate}}</th>
        <th>{{"dash-board.request.request-user-id" | translate}}</th>
        <th>{{"dash-board.request.response-date" | translate}}</th>
        <th>{{"common-desc.open" | translate}}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-req>
      <tr>
        <td>{{dateToMonthYYYYMMdd(req.requestDate)}}</td>
        <td>
          <p-tag [value]="responseTypeToResponseTypeDesc(req.responseType)" [severity]="getResponseTypeSeverity(req.responseType)"/>
        </td>
        <td>{{requestTypeToRequestTypeDesc(req.requestType)}}</td>
        <td>{{req.requestUserID}}</td>
        <td>{{dateToMonthYYYYMMdd(req.responseDate)}}</td>
        <td>
          <p-button class="p-button-sm" (onClick)="move(req)" [disabled]="!haveRole">{{"common-desc.open" | translate}}</p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
