<div class="medicine-price-list-container">
  <app-progress-spin [isLoading]="isLoading" />
  <p-table #listTable [value]="medicineModel" [columns]="selectedHeaders" [scrollable]="true" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 20, 50]" [loading]="isLoading"
           [globalFilterFields]="filterFields" [tableStyle]="tableStyle" size="small" stripedRows="true">
    <ng-template #caption>
      <div class="flex">
        <p-button class="m-1" (onClick)="refresh()" icon="pi pi-refresh" [disabled]="!haveRole" />
        <p-date-picker class="m-1" [(ngModel)]="applyDate" dateFormat="yy-mm-dd" [disabled]="!isAdmin" view="month" />
        <p-button class="m-1" (onClick)="uploadPriceExcel()" icon="pi pi-file-excel" [disabled]="!isAdmin" pTooltip="{{uploadPriceTooltip | translate}}" />
        <p-button class="m-1" (onClick)="uploadMainIngredientExcel()" icon="pi pi-file-excel" [disabled]="!isAdmin" pTooltip="{{uploadMainIngredient | translate}}" />
        <input #inputPriceUploadExcel class="collapse" type="file" accept=".xlsx" (change)="priceExcelSelected($event)">
        <input #inputMainIngredientUploadExcel class="collapse" type="file" accept=".xlsx" (change)="mainIngredientExcelSelected($event)">
        <p-multi-select [options]="headerList" [(ngModel)]="selectedHeaders" (ngModelChange)="headerSelectChange($event)">
          <ng-template #item let-item>
            <div>{{item.header | translate}}</div>
          </ng-template>
          <ng-template #selecteditems let-items>
            <div *ngFor="let item of items">
              {{item?.header | translate}},
            </div>
          </ng-template>
        </p-multi-select>
        <div class="flex ml-auto justify-content-end">
          <label class="m-1 align-self-center">{{dateToYYYYMMdd(lastApplyDate)}}</label>
          <p-iconfield iconPosition="left" class="m-1">
            <p-inputicon>
              <i class="pi pi-search"></i>
            </p-inputicon>
            <input pInputText type="text" (input)="filterTable(listTable, $event, filterTableOption)" placeholder="Search keyword" />
          </p-iconfield>
        </div>
      </div>
    </ng-template>
    <ng-template #header let-columns>
      <tr>
        <th *ngFor="let col of columns" [ngClass]="col.className" [pSortableColumn]="col.field">{{col.header | translate}}<p-sortIcon field="{{col.field}}" /></th>
      </tr>
    </ng-template>
    <ng-template #body let-item let-columns="columns">
      <tr [ngClass]="tableNgClass(item)" (click)="priceHistoryDialogOpen(item)">
        <td *ngFor="let col of columns">{{getTableItem(item, col)}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
