<div class="pharma-list-container">
  <app-progress-spin [isLoading]="isLoading" />
  <p-table #listTable [value]="viewList" [scrollable]="true" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 20, 50]" [loading]="isLoading"
           [globalFilterFields]="filterFields" (sortFunction)="customSort($event, isSorted, listTable, initValue, viewList)" [customSort]="true"
           [tableStyle]="tableStyle" size="small" stripedRows="true">
    <ng-template #caption>
      <div class="flex">
        <p-button class="m-1" (onClick)="refreshData()" icon="pi pi-refresh" [disabled]="!haveRole"/>
        <p-button class="m-1" (onClick)="insertData()" icon="pi pi-plus" [disabled]="!haveRole"/>
        <p-button class="m-1" (onClick)="uploadExcel()" icon="pi pi-file-excel" [disabled]="!haveRole" pTooltip="{{uploadExcelTooltip | translate}}"/>
        <p-button class="m-1" (onClick)="sampleDown()" icon="pi pi-download" pTooltip="{{sampleDownloadTooltip | translate}}" />
        <p-button class="m-1" (onClick)="uploadPharmaMedicineExcel()" icon="pi pi-file-excel" [disabled]="!haveRole" pTooltip="{{uploadMedicineTooltip | translate}}" />
        <p-button class="m-1" (onClick)="pharmaMedicineSampleDown()" icon="pi pi-download" pTooltip="{{pharmaMedicineSampleDownloadTooltip | translate}}" />
        <input #inputUploadExcel class="collapse" type="file" accept=".xlsx" (change)="excelSelected($event)">
        <input #inputPharmaMedicineUploadExcel class="collapse" type="file" accept=".xlsx" (change)="pharmaMedicineExcelSelected($event)">
        <p-iconfield iconPosition="left" class="ml-auto justify-content-end">
          <p-inputicon>
            <i class="pi pi-search"></i>
          </p-inputicon>
          <input pInputText type="text" (input)="filterTable(listTable, $event, filterTableOption)" placeholder="Search keyword" />
        </p-iconfield>
      </div>
    </ng-template>
    <ng-template #header>
      <tr>
        <th pSortableColumn="code">{{"pharma-list.code" | translate}} <p-sortIcon field="code" /></th>
        <th pSortableColumn="orgName">{{"pharma-list.org-name" | translate}} <p-sortIcon field="orgName" /></th>
        <th pSortableColumn="innerName">{{"pharma-list.inner-name" | translate}} <p-sortIcon field="innerName" /></th>
        <th>{{"pharma-list.address" | translate}}</th>
        <th>{{"pharma-list.etc1" | translate}}</th>
        <th>{{"pharma-list.etc2" | translate}}</th>
        <th>{{"common-desc.edit" | translate}}</th>
      </tr>
    </ng-template>
    <ng-template #body let-pharma>
      <tr>
        <td>{{pharma.code}}</td>
        <td>{{pharma.orgName}}</td>
        <td>{{pharma.innerName}}</td>
        <td>{{pharma.address}}</td>
        <td>{{ellipsis(pharma.etc1)}}</td>
        <td>{{ellipsis(pharma.etc2)}}</td>
        <td>
          <p-button size="small" (onClick)="pharmaEdit(pharma)" [disabled]="!haveRole">{{"common-desc.edit" | translate}}</p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
