<div class="pharma-list-container">
  <app-progress-spin [isLoading]="isLoading" />
  <p-table #listTable [columns]="selectedHeaders" [value]="viewList" [scrollable]="true" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 20, 50]" [loading]="isLoading"
           [globalFilterFields]="filterFields" [tableStyle]="tableStyle" size="small" stripedRows="true">
    <ng-template #caption>
      <div class="flex">
        <p-button class="m-1" (onClick)="refreshData()" icon="pi pi-refresh" [disabled]="!haveRole"/>
        <p-button class="m-1" (onClick)="insertData()" icon="pi pi-plus" [disabled]="!haveRole"/>
        <p-button class="m-1" (onClick)="uploadExcel()" icon="pi pi-file-excel" [disabled]="!haveRole" pTooltip="{{uploadExcelTooltip | translate}}"/>
        <p-button class="m-1" (onClick)="sampleDown()" icon="pi pi-download" pTooltip="{{sampleDownloadTooltip | translate}}" />
        <p-button class="m-1" (onClick)="uploadPharmaMedicineExcel()" icon="pi pi-file-excel" [disabled]="!haveRole" pTooltip="{{uploadMedicineTooltip | translate}}" />
        <p-button class="m-1" (onClick)="pharmaMedicineSampleDown()" icon="pi pi-download" pTooltip="{{pharmaMedicineSampleDownloadTooltip | translate}}" />
        <input #inputUploadExcel class="collapse" type="file" accept=".xlsx" (change)="excelSelected($event)">
        <input #inputPharmaMedicineUploadExcel class="collapse" type="file" accept=".xlsx" (change)="pharmaMedicineExcelSelected($event)">
        <p-multi-select [options]="headerList" [(ngModel)]="selectedHeaders" (ngModelChange)="headerSelectChange($event)">
          <ng-template #item let-item>
            <div>{{item.header | translate}}</div>
          </ng-template>
          <ng-template #selecteditems let-items>
            <div *ngFor="let item of items">
              {{item?.header | translate}},
            </div>
          </ng-template>
        </p-multi-select>
        <p-iconfield iconPosition="left" class="ml-auto justify-content-end">
          <p-inputicon>
            <i class="pi pi-search"></i>
          </p-inputicon>
          <input pInputText type="text" (input)="filterTable(listTable, $event, filterTableOption)" placeholder="Search keyword" />
        </p-iconfield>
      </div>
    </ng-template>
    <ng-template #header let-columns>
      <tr>
        <th *ngFor="let col of columns" [ngClass]="col.className">{{col.header | translate}}</th>
      </tr>
    </ng-template>
    <ng-template #body let-item let-columns="columns">
      <tr class="click-tr" (click)="pharmaEdit(item)">
        <td *ngFor="let col of columns">{{getTableItem(item, col)}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
