<div class="flex flex-wrap flex-column user-mapping-container">
  <p-listbox class="flex col-4" [options]="userList" [(ngModel)]="selectUser" [filter]="true" (selectionchange)="userListOnSelect()">
    <ng-template pTemplate="item" let-user>
      <div class="flex align-items-center gap-2">
        <div>{{user.id}}</div>
        <div>{{user.name}}</div>
      </div>
    </ng-template>
  </p-listbox>
  <div class="flex col-4">
    <p-pickList [source]="hosList" [target]="hosPickListUser?.hosList" [disabled]="hosPickListDisable" [dragdrop]="true" [sourceStyle]="{height: '30rem'}" [targetStyle]="{height: '30rem'}"
                sourceHeader="{{'user-mapping.hos-pick-list.source-header' | translate}}" targetHeader="{{'user-mapping.hos-pick-list.target-header' | translate}}"
                filterMatchMode="contains" filterBy="innerName" (onTargetSelect)="hosPickListTargetSelect($event)"
                sourceFilterPlaceholder="{{'user-mapping.hos-pic-list.filter-place-holder' | translate}}"
                targetFilterPlaceholder="{{'user-mapping.hos-pic-list.filter-place-holder' | translate}}">
      <ng-template pTemplate="item" let-hos>
        <div class="flex flex-wrap p-2 align-items-center gap-3">
          <div>{{hos.code}}</div>
          <div>{{hos.innerName}}</div>
        </div>
      </ng-template>
    </p-pickList>
  </div>
  <div class="flex col-4">

  </div>
</div>
