<div class="password-change-dialog-container">
  <div class="mb-4">
    <p-floatlabel>
      <p-password id="current_pw_input" [(ngModel)]="currentPW" [feedback]="false" [toggleMask]="true" (keydown)="currentPWChange($event)" />
      <label for="current_pw_input">{{"password-change-dialog.current-pw" | translate}}</label>
    </p-floatlabel>
  </div>
  <div class="mb-4">
    <p-floatlabel>
      <p-password id="after_pw_input" [(ngModel)]="afterPW" [feedback]="false" [toggleMask]="true" (keydown)="afterPWChange($event)" />
      <label for="after_pw_input">{{"password-change-dialog.after-pw" | translate}}</label>
    </p-floatlabel>
  </div>
  <div class="mb-4">
    <p-floatlabel>
      <p-password id="confirm_pw_input" [class]="confirmPWClass" [(ngModel)]="confirmPW" [feedback]="false" [toggleMask]="true" (keydown)="confirmPWChange($event)" />
      <label for="confirm_pw_input">{{"password-change-dialog.confirm-pw" | translate}}</label>
    </p-floatlabel>
  </div>
  <p-button class="flex justify-content-end" [disabled]="passwordChangeDisable" (onClick)="passwordChange()">{{"common-desc.change" | translate}}</p-button>
</div>
