<div class="qna-view-dialog-container">
  <app-progress-spin [isLoading]="isLoading"/>
  <drawer-fullscreen-file-view #fullscreenFileView />
  <p-card class="flex flex-wrap flex-column w-full justify-content-center shadow-2">
    <div class="flex grid w-full justify-content-center">
      <div class="m-1 select-none">
        <span>{{qnaHeaderModel.title}}</span>
      </div>
    </div>
    <div class="flex grid w-full justify-content-center">
      <div class="m-1 select-none">
        <span class="m-1">{{qnaHeaderModel.id}}</span>
        <span class="m-1">{{qnaHeaderModel.name}}</span>
        <span class="m-1">{{dateToYYYYMMdd(qnaHeaderModel.regDate)}}</span>
        <p-tag class="m-1" [value]="StringToQnAStateDesc[qnaHeaderModel.qnaState]" [severity]="getQnAStateSeverity(qnaHeaderModel.qnaState)"/>
      </div>
    </div>
    <p-card>
      <div class="qna-content">
        <span [innerHTML]="qnaContentModel.content | safeHtml"></span>
      </div>
      <p-galleria class="flex m-1" [value]="qnaContentModel.fileList" indicatorsPosition="bottom" [showItemNavigators]="true" [showThumbnails]="false" [showIndicatorsOnItem]="false"
                  [containerStyle]="galleriaContainerStyle" [numVisible]="0">
        <ng-template pTemplate="item" let-item>
          <img [src]="getBlobUrl(item)" [alt]="item.originalFilename" class="qna-image cursor-pointer" (click)="viewItem(qnaContentModel.fileList, item)"/>
        </ng-template>
        <ng-template pTemplate="footer">
          <div class="flex">
            <p-button class="flex m-1" size="small" icon="pi pi-download" [rounded]="true" pTooltip="{{downloadFileTooltip | translate}}" (click)="downloadFile(qnaContentModel.fileList[activeIndex])" />
            <label class="flex m-1 align-self-center">{{activeIndex + 1}}/{{qnaContentModel.fileList.length}}</label>
            <label class="flex m-1 align-self-center font-bold">{{ellipsis(qnaContentModel.fileList[activeIndex].originalFilename, 50)}}</label>
            <label class="flex m-1 align-self-center">{{dateToYYYYMMdd(qnaContentModel.fileList[activeIndex].regDate)}}</label>
          </div>
        </ng-template>
      </p-galleria>
    </p-card>
    <p-accordion class="flex flex-wrap flex-column w-full justify-content-center shadow-4 border-round-sm" [value]="accordionValue"
                 [multiple]="multipleEnable" *ngIf="qnaContentModel.replyList.length > 0">
      <p-accordion-panel *ngFor="let replyModel of qnaContentModel.replyList; index as i" value="{{accordionIndex(replyModel)}}">
        <p-accordion-header>
          <div>
            <span>{{replyModel.name}}</span>
            <span>{{dateToYYYYMMdd(replyModel.regDate)}}</span>
          </div>
        </p-accordion-header>
        <p-accordion-content>
          <p-card>
            <div class="qna-content">
              <span [innerHTML]="replyModel.content | safeHtml"></span>
            </div>
            <p-galleria [value]="replyModel.fileList" indicatorsPosition="bottom" [showItemNavigators]="true" [showThumbnails]="false" [showIndicatorsOnItem]="false"
                        [containerStyle]="galleriaContainerStyle" [numVisible]="0" [(activeIndex)]="replyActiveIndex[i]">
              <ng-template pTemplate="item" let-item>
                <img [src]="getBlobUrl(item)" [alt]="item.originalFilename" class="qna-image cursor-pointer" (click)="viewReplyItem(replyModel.fileList, item)"/>
              </ng-template>
              <ng-template pTemplate="footer">
                <div class="flex">
                  <p-button class="flex m-1" size="small" icon="pi pi-download" [rounded]="true" pTooltip="{{downloadFileTooltip | translate}}" (click)="downloadReplyFile(replyModel.fileList[replyActiveIndex[i]])" />
                  <label class="flex m-1 align-self-center">{{replyActiveIndex[i] + 1}}/{{replyModel.fileList.length}}</label>
                  <label class="flex align-self-center font-bold">{{ellipsis(replyModel.fileList[replyActiveIndex[i]].originalFilename, 50)}}</label>
                  <label class="flex align-self-center">{{dateToYYYYMMdd(replyModel.fileList[replyActiveIndex[i]].regDate)}}</label>
                </div>
              </ng-template>
            </p-galleria>
          </p-card>
        </p-accordion-content>
      </p-accordion-panel>
    </p-accordion>
    <div class="m-1 w-full max-w-screen" *ngIf="canReply">
      <p-editor #quillEditor id="quillEditor" [(ngModel)]="content" (onTextChange)="editorChange($event)" (onInit)="quillOnInit($event)" />
      <div class="flex grid m-2">
        <p-galleria [value]="uploadFileBuffModel" indicatorsPosition="bottom" [showItemNavigators]="true" [showThumbnails]="false" [showIndicatorsOnItem]="false"
                    [containerStyle]="galleriaContainerStyle" [numVisible]="0" [(activeIndex)]="uploadActiveIndex">
          <ng-template pTemplate="item" let-item>
            <img [src]="item.blobUrl" [alt]="item.originalFilename" class="qna-image"/>
          </ng-template>
          <ng-template pTemplate="footer">
            <div class="flex">
              <p-button class="flex m-1 align-self-center" size="small" icon="pi pi-times" [rounded]="true" pTooltip="{{removeFileTooltip | translate}}" (click)="deleteUploadFile(uploadFileBuffModel[uploadActiveIndex])" />
              <label class="flex m-1 align-self-center">{{uploadActiveIndex + 1}}/{{uploadFileBuffModel.length}}</label>
              <label class="flex m-1 align-self-center font-bold">{{ellipsis(uploadFileBuffModel[uploadActiveIndex].file?.name)}}</label>
            </div>
          </ng-template>
        </p-galleria>
      </div>
      <p-button class="field justify-content-center align-content-center w-fit m-1" size="small" (click)="fileUpload()">{{"common-desc.add" | translate}}</p-button>
      <p-button class="field justify-content-center align-content-center w-fit m-1" size="small" [disabled]="!saveAble" (click)="saveReplyData()">{{"common-desc.save" | translate}}</p-button>
      <input #inputFiles class="collapse" type="file" [accept]="acceptFiles" (change)="fileSelected($event)" [multiple]="true" />
    </div>
  </p-card>
</div>
