/* You can add global styles to this file, and also import other style files */

@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";
@import "handsontable/styles/handsontable.min.css";
@import "handsontable/styles/ht-theme-main.min.css";

app-menu-config .p-menu {
  width: 100% !important;
  height: 100% !important;
}
app-menu-config .p-menu a {
  text-decoration-line: none;
}
app-user-mapping .p-listbox-list-container {
  min-height: 30rem;
}
app-edi-view p-table .p-datatable,
app-edi-view-dialog p-table .p-datatable,
app-request-sub-edi-upload p-table .p-datatable {
  width: 100%;
}
app-pharma-add-dialog .p-inputwrapper,
app-pharma-add .p-inputwrapper,
app-pharma-edit-dialog .p-inputwrapper,
app-pharma-edit .p-inputwrapper,
app-medicine-add-dialog .p-inputwrapper,
app-medicine-add .p-inputwrapper,
app-medicine-add-dialog .p-autocomplete-input,
app-medicine-add .p-autocomplete-input,
app-medicine-edit-dialog .p-inputwrapper,
app-medicine-edit .p-inputwrapper,
app-medicine-edit-dialog .p-autocomplete-input,
app-medicine-edit .p-autocomplete-input,
app-hospital-add-dialog .p-inputwrapper,
app-hospital-add .p-inputwrapper,
app-hospital-edit-dialog .p-inputwrapper,
app-hospital-edit .p-inputwrapper  {
  width: 20rem;
}

.collapse {
  display: none;
}

.p-resizable-handle {
  right: 0 !important;
  top: 0 !important;
  background-color: var(--p-primary-300) !important;
}
.p-dialog-maximized .p-resizable-handle {
  display: none !important;
}
.p-dialog-header {
  padding: 1rem !important;
}
.p-drawer-bottom {
  height: auto !important;
  max-height: 100% !important;
}
.request-item-container {
  max-height: 50rem !important;
}

.p-drawer .p-listbox, .p-listbox-list-container {
  min-height: 50rem;
}

.p-galleria-nav-button {
  background-color: rgba(220, 220, 220, 150) !important;
}
.p-galleria-nav-button.p-disabled {
  display: none !important;
}
.p-galleria-next-icon, .p-galleria-prev-icon {
  color: black;
}
.click-tr:hover {
  cursor: pointer;
  background-color: var(--p-primary-700) !important;
  color: var(--p-primary-100) !important;
}
.click-item:hover {
  cursor: pointer;
}

.p-colorpicker-preview {
  border: 1px gray solid !important;
}

.minW5rem { min-width: 5rem; }
.minW10rem { min-width: 10rem; }
.minW15rem { min-width: 15rem; }
.minW20rem { min-width: 20rem; }
.minW25rem { min-width: 25rem; }
.minW30rem { min-width: 30rem; }

.refresh-button {
  padding: 1px;
}
.icon-size {
  width: 20px;
  height: 20px;
}
.no-drag {
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}
