/* You can add global styles to this file, and also import other style files */

@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

app-menu-config .p-menu {
  width: 100% !important;
  height: 100% !important;
}
app-menu-config .p-menu a {
  text-decoration-line: none;
}
app-user-mapping .p-listbox-list-container {
  min-height: 30rem;
}

app-pharma-add-dialog .p-inputwrapper,
app-pharma-add .p-inputwrapper,
app-pharma-edit-dialog .p-inputwrapper,
app-pharma-edit .p-inputwrapper,
app-medicine-add-dialog .p-inputwrapper,
app-medicine-add .p-inputwrapper,
app-medicine-add-dialog .p-autocomplete-input,
app-medicine-add .p-autocomplete-input,
app-medicine-edit-dialog .p-inputwrapper,
app-medicine-edit .p-inputwrapper,
app-medicine-edit-dialog .p-autocomplete-input,
app-medicine-edit .p-autocomplete-input,
app-hospital-add-dialog .p-inputwrapper,
app-hospital-add .p-inputwrapper,
app-hospital-edit-dialog .p-inputwrapper,
app-hospital-edit .p-inputwrapper  {
  width: 20rem;
}

.collapse {
  display: none;
}

.p-resizable-handle {
  right: 0 !important;
  top: 0 !important;
  background-color: var(--p-primary-300) !important;
}
.p-dialog-maximized .p-resizable-handle {
  display: none !important;
}
.p-dialog-header {
  padding: 1rem !important;
}
.p-drawer-bottom {
  height: auto !important;
  max-height: 100% !important;
}
.request-item-container {
  max-height: 50rem !important;
}

.p-drawer .p-listbox, .p-listbox-list-container {
  min-height: 50rem;
}
