/* You can add global styles to this file, and also import other style files */

@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

app-menu-config .p-menu {
  width: 100% !important;
  height: 100% !important;
}
app-menu-config .p-menu a {
  text-decoration-line: none;
}
app-user-edit .p-picklist-source-wrapper {
  margin-right: 0.25rem !important;
}
app-user-edit-dialog .p-picklist-source-wrapper {
  margin-right: 0.25rem !important;
}
app-user-mapping .p-picklist-source-wrapper {
  margin-right: 0.25rem !important;
}
app-user-edit .p-picklist-transfer-buttons {
  display: none !important;
}
app-user-edit-dialog .p-picklist-transfer-buttons {
  display: none !important;
}
app-user-mapping .p-picklist-transfer-buttons {
  display: none !important;
}
app-pharma-edit-dialog .p-picklist-source-wrapper {
  margin-right: 0.25rem !important;;
}
app-pharma-edit-dialog .p-picklist-transfer-buttons {
  display: none !important;
}


.collapse {
  display: none;
}
