<div class="edi-due-date-container">
  <app-progress-spin [isLoading]="isLoading" />
  <div class="flex-grow-1 calendar-container">
    <full-calendar #calendar [options]="calendarOptions()">
      <ng-template #eventContent let-arg>
        <b>{{arg.timeText}}</b>
        <i>{{arg.event.title}}</i>
      </ng-template>
    </full-calendar>
  </div>
  <p-drawer class="flex" [(visible)]="pharmaSelectVisible" (onHide)="pharmaDrawerOnHide()" position="right" [baseZIndex]="1000" closable="false">
    <p-button class="flex m-1" (click)="pharmaDrawerClose()">{{"common-desc.save" | translate}}</p-button>
    <p-listbox class="flex" [options]="ablePharmaList" [(ngModel)]="selectedPharma" [multiple]="true" [filter]="true" [filterFields]="['code', 'innerName']">
      <ng-template #item let-pharma>
        <div>
          <div>{{pharma.code}}</div>
          <div>{{pharma.innerName}}</div>
        </div>
      </ng-template>
    </p-listbox>
  </p-drawer>
</div>
