<div class="user-edit-container">
  <app-progress-spin [isLoading]="isLoading" />
  <p-card class="request-item-header-container" *ngIf="requestModel">
    <table>
      <tr>
        <th>{{"user-edit.request.request-date" | translate}}</th>
        <th>{{"user-edit.request.request-type" | translate}}</th>
        <th>{{"user-edit.request.response-date" | translate}}</th>
        <th>{{"user-edit.request.response-type" | translate}}</th>
        <th>{{"user-edit.request.request-user-name" | translate}}</th>
        <th>{{"user-edit.request.response-type" | translate}}</th>
      </tr>
      <tr>
        <td><label>{{dateToYYYYMMdd(requestModel.requestDate)}}</label></td>
        <td><label>{{requestTypeToRequestTypeDesc(requestModel.requestType)}}</label></td>
        <td><label>{{dateToYYYYMMdd(requestModel.requestDate)}}</label></td>
        <td><label>{{responseTypeToResponseTypeDesc(requestModel.responseType)}}</label></td>
        <td><label>{{requestModel.requestUserName}}</label></td>
        <td>
          <div>
            <p-select class="" [options]="responseTypeList" [(ngModel)]="selectedResponseType" (ngModelChange)="requestItemResponseTypeChange()" />
          </div>
        </td>
      </tr>
    </table>
  </p-card>
  <div class="m-1">
    <p-button class="m-1" (onClick)="saveUserData()" [disabled]="!haveRole">{{"common-desc.save" | translate}}</p-button>
    <p-confirm-popup />
    <p-button class="m-1" (click)="passwordInit($event)" *ngIf="isAdmin">{{"user-edit.password-init" | translate}}</p-button>
  </div>
  <p-accordion [multiple]="multipleEnable" [value]="accordionValue">
    <p-accordion-panel *ngIf="userDataModel" value="0">
      <p-accordion-header>{{"user-edit.accordion-header.detail" | translate}}</p-accordion-header>
      <p-accordion-content>
        <div class="field grid">
          <label class="col">{{userDataModel.id}}</label>
        </div>
        <div class="field grid">
          <p-ifta-label class="m-1">
            <input id="name" class="text-base" pInputText type="text" [(ngModel)]="userDataModel.name" />
            <label for="name" class="col-fixed w-3">{{"user-edit.detail.name" | translate}}</label>
          </p-ifta-label>
          <p-ifta-label class="m-1">
            <input id="mail" class="text-base" pInputText type="text" [(ngModel)]="userDataModel.mail" />
            <label for="mail" class="col-fixed w-3">{{"user-edit.detail.mail" | translate}}</label>
          </p-ifta-label>
          <p-ifta-label class="m-1">
            <input id="phoneNumber" class="text-base" pInputText type="text" [(ngModel)]="userDataModel.phoneNumber" />
            <label for="phoneNumber" class="col-fixed w-3">{{"user-edit.detail.phone-number" | translate}}</label>
          </p-ifta-label>
        </div>
        <div class="field grid">
          <div class="m-1">
            <label class="flex flex-auto justify-content-center">{{"user-edit.detail.role" | translate}}</label>
            <div class="col">
              <p-multiSelect [options]="userRoleList" [(ngModel)]="selectedUserRoles" />
            </div>
          </div>
          <div class="m-1">
            <label class="flex flex-auto justify-content-center">{{"user-edit.detail.dept" | translate}}</label>
            <div class="col">
              <p-multiSelect [options]="userDeptList" [(ngModel)]="selectedUserDepts" />
            </div>
          </div>
          <div class="m-1">
            <label class="flex flex-auto justify-content-center">{{"user-edit.detail.status" | translate}}</label>
            <div class="col">
              <p-select [options]="userStatusList" [(ngModel)]="selectedUserStatus" />
            </div>
          </div>
        </div>
        <div class="field grid">
        </div>
        <div class="field grid">
          <div class="m-1">
            <label class="flex flex-auto justify-content-center">{{"user-edit.detail.reg-date" | translate}}</label>
            <label class="col">{{dateToYearFullString(userDataModel.regDate)}}</label>
          </div>
          <div class="m-1">
            <label class="flex flex-auto justify-content-center">{{"user-edit.detail.last-login-date" | translate}}</label>
            <label class="col">{{dateToYearFullString(userDataModel.lastLoginDate)}}</label>
          </div>
        </div>
        <p-divider layout="horizontal" />
        <div class="field grid">
          <p-image class="col-fixed" width="100" height="100" [src]="userImageUrl(UserFileType.Taxpayer)" [alt]="userDataModel.companyNumber" (click)="userImageView(UserFileType.Taxpayer)" pTooltip="{{userImageTooltip(UserFileType.Taxpayer) | translate}}"/>
          <div class="col">
            <div class="formgrid grid col">
              <p-ifta-label class="m-1">
                <input id="companyName" class="w-20rem" [(ngModel)]="userDataModel.companyName" type="text" pInputText>
                <label for="companyName">{{"user-edit.detail.company-name" | translate}}</label>
              </p-ifta-label>
              <p-ifta-label class="m-1">
                <input id="companyInnerName" class="w-20rem" [(ngModel)]="userDataModel.companyInnerName" type="text" pInputText>
                <label for="companyInnerName">{{"user-edit.detail.company-inner-name" | translate}}</label>
              </p-ifta-label>
              <p-ifta-label class="m-1">
                <input id="companyOwner" class="w-10rem" [(ngModel)]="userDataModel.companyOwner" type="text" pInputText>
                <label for="companyOwner">{{"user-edit.detail.company-owner" | translate}}</label>
              </p-ifta-label>
            </div>
            <div class="formgrid grid col">
              <p-ifta-label class="m-1">
                <input id="companyAddress" class="w-20rem" [(ngModel)]="userDataModel.companyAddress" type="text" pInputText>
                <label for="companyAddress">{{"user-edit.detail.company-address" | translate}}</label>
              </p-ifta-label>
              <p-ifta-label class="m-1">
                <input id="companyNumber" class="w-20rem" [(ngModel)]="userDataModel.companyNumber" type="text" pInputText>
                <label for="companyNumber">{{"user-edit.detail.company-number" | translate}}</label>
              </p-ifta-label>
            </div>
          </div>
          <p-image class="col-fixed" width="100" height="100" [src]="userImageUrl(UserFileType.BankAccount)" [alt]="userDataModel.bankAccount" (click)="userImageView(UserFileType.BankAccount)" pTooltip="{{userImageTooltip(UserFileType.BankAccount) | translate}}"/>
          <p-ifta-label class="col">
            <input id="bankAccount" [(ngModel)]="userDataModel.bankAccount" type="text" pInputText>
            <label for="bankAccount">{{"user-edit.detail.bank-account" | translate}}</label>
          </p-ifta-label>
        </div>
        <div class="field grid">
          <p-image class="col-fixed" width="100" height="100" [src]="userImageUrl(UserFileType.CsoReport)" (click)="userImageView(UserFileType.CsoReport)" pTooltip="{{userImageTooltip(UserFileType.CsoReport) | translate}}"/>
          <div class="col">
            <p-ifta-label class="col">
              <input id="csoReportNumber" [(ngModel)]="userDataModel.csoReportNumber" type="text" pInputText>
              <label for="csoReportNumber">{{"user-edit.detail.cso-report-number" | translate}}</label>
            </p-ifta-label>
          </div>
          <p-image class="col-fixed" width="100" height="100" [src]="userImageUrl(UserFileType.MarketingContract)" (click)="userImageView(UserFileType.MarketingContract)" pTooltip="{{userImageTooltip(UserFileType.MarketingContract) | translate}}"/>
          <div class="col">
            <label class="flex">{{"user-edit.detail.contract-date" | translate}}</label>
            <p-date-picker class="flex" [(ngModel)]="contractDate" view="date" dateFormat="yy-mm-dd" readonlyInput="true" appendTo="body" />
          </div>
        </div>
        <div class="field grid">
          <p-image class="col-fixed" width="100" height="100" [src]="trainingImageUrl()" (click)="trainingImageView()" pTooltip="{{trainingImageTooltip() | translate}}"/>
          <div class="formgrid col">
            <label class="col">{{"user-edit.detail.training-image" | translate}}</label>
            <label class="col">{{trainingDate()}}</label>
            <p-button class="col" (click)="userTrainingFilePop.toggle($event)">{{"user-edit.detail.training-image-add" | translate}}</p-button>
            <p-popover #userTrainingFilePop appendTo="body">
              <popover-user-training-file-add #userTrainingFileAdd [trainingList]="userDataModel.trainingList" (error)="onError($event)" (warn)="onWarn($event)"
                                              (viewItemEvent)="viewUserTrainingItem($event)" (uploadFileEvent)="userTrainingUpload($event)" />
            </p-popover>
          </div>
        </div>
        <input #taxpayerImageInput class="collapse" type="file" accept=".jpg,.jpeg,.png,.webp,.bmp,.pdf" (change)="userImageSelected($event, UserFileType.Taxpayer)">
        <input #bankAccountImageInput class="collapse" type="file" accept=".jpg,.jpeg,.png,.webp,.bmp,.pdf" (change)="userImageSelected($event, UserFileType.BankAccount)">
        <input #csoReportImageInput class="collapse" type="file" accept=".jpg,.jpeg,.png,.webp,.bmp,.pdf" (change)="userImageSelected($event, UserFileType.CsoReport)">
        <input #marketingContractImageInput class="collapse" type="file" accept=".jpg,.jpeg,.png,.webp,.bmp,.pdf" (change)="userImageSelected($event, UserFileType.MarketingContract)">
      </p-accordion-content>
    </p-accordion-panel>
    <p-accordion-panel value="1">
      <p-accordion-header>{{"user-edit.accordion-header.child" | translate}}</p-accordion-header>
      <p-accordion-content>
        <app-custom-pick-list class="flex col-12" [sourceList]="childAble" [targetList]="userDataModel.children" [disable]="userDataModel.motherPK.length > 0"
                              [filterFields]="filterFields" sourceFilterPlaceHolder="{{filterPlaceHolder | translate}}"
                              targetFilterPlaceHolder="{{filterPlaceHolder | translate}}">
          <ng-template #sourceItem let-source>
            <div>{{source.id}}</div>
            <div>{{source.name}}</div>
          </ng-template>
          <ng-template #targetItem let-target>
            <div>{{target.id}}</div>
            <div>{{target.name}}</div>
          </ng-template>
        </app-custom-pick-list>
      </p-accordion-content>
    </p-accordion-panel>
    <p-accordion-panel *ngIf="userDataModel.hosList.length > 0" value="2">
      <p-accordion-header>{{"user-edit.accordion-header.in-charge" | translate}}</p-accordion-header>
      <p-accordion-content>
        <div class="formgrid grid">
          <p-table class="field col" [value]="userDataModel.hosList" [scrollable]="true" selectionMode="single" [(selection)]="selectedHosData"
                   size="small" stripedRows="true" [paginator]="true" [rows]="10">
            <ng-template #header>
              <tr>
                <th class="w-2">{{"user-edit.hos-data.code" | translate}}</th>
                <th>{{"user-edit.hos-data.inner-name" | translate}}</th>
              </tr>
            </ng-template>
            <ng-template #body let-hosData>
              <tr [pSelectableRow]="hosData">
                <td>{{hosData.code}}</td>
                <td><{{hosData.innerName}}</td>
              </tr>
            </ng-template>
          </p-table>
          <p-table class="field col" [value]="selectedHosData.pharmaList" [scrollable]="true"
                   size="small" stripedRows="true" [paginator]="true" [rows]="10">
            <ng-template #header>
              <tr>
                <th class="w-2">{{"user-edit.pharma-data.code" | translate}}</th>
                <th>{{"user-edit.pharma-data.inner-name" | translate}}</th>
              </tr>
            </ng-template>
            <ng-template #body let-pharmaData>
              <tr>
                <td>{{pharmaData.code}}</td>
                <td>{{pharmaData.innerName}}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </p-accordion-content>
    </p-accordion-panel>
  </p-accordion>
</div>
